<script setup>
import { ref } from 'vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { useForm } from '@inertiajs/vue3';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
const props = defineProps({
    siteData: {
        type: Object,
        required: true
    }
});

const form = useForm({
    id: props.siteData.id,
    name: props.siteData.name,
    value: JSON.parse(JSON.stringify(props.siteData.value)),
});

const addNewValue = () => {
    form.value.push({ name: '', value: '', priority: '' });
};

const removeValue = (index) => {
    form.value.splice(index, 1);
};

const updateData = async () => {
    // const formData = new FormData();

    // formData.append('id', form.id);
    // formData.append('name', form.name);

    // formData.append('priority', form.priority);

    await form.put(route('siteData.update', { id: form.id }), {
        onSuccess: () => {
            // Lógica após a atualização bem-sucedida, se necessário
        },
        onError: () => {
            // Lógica em caso de erro, se necessário
        }
    });



    // await axios.put(route('siteData.update', { id: form.id }), formData, {
    //     headers: {
    //         'Content-Type': 'multipart/form-data'
    //     },
    //     onSuccess: () => {
    //         // Lógica após a atualização bem-sucedida, se necessário
    //     },
    //     onError: () => {
    //         // Lógica em caso de erro, se necessário
    //     }
    // });
};


const handleImageUpload = async (index) => {

    const fileInput = document.querySelector(`#image${index}`);
    const file = fileInput.files[0];
    const formData = new FormData();
    formData.append('image', file);
    formData.append('filePath', 'sponsors/' + form.id)

    try {
        const response = await axios.post('/upload-image', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        });
        // alert(response.data)
        form.value[index].image_url = response.data;
    } catch (error) {
        console.error(error);
    }
}
</script>

<template>

    <Head title="Editar Parceiros" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar Parceiros</h3>
        </template>
        <div class="form-wrap edit-new" id="content">
            <div>
                <form @submit.prevent="updateData">
                    <!-- <div class="flex items-center mb-2"> -->
                    <div v-for="(item, index) in form.value" :key="index" class="mb-4">
                        <div class="sub-input-wrap">
                            <div class="input-wrap">
                                <InputLabel :for="'key' + index" value="Nome" />
                                <TextInput :id="'key' + index" v-model="form.value[index].key" class="input-text"
                                    type="text" placeholder="Chave" required />
                            </div>
                            <!-- <div class="w-1/2 pl-4">
                                    <InputLabel :for="'value' + index" value="Imagem" />
                                    <TextInput :id="'value' + index" v-model="form.value[index].value"
                                        class="block mt-1 w-full" type="text" placeholder="Valor" required />
                                </div> -->
                            <div class="input-wrap">
                                <InputLabel for="image" value="Imagem destacada" />

                                <div class="img-input-wrap">
                                    <div class="upload-label">
                                        <img src="/images/img-upload.svg" alt="">
                                        <p>Clique aqui para adicionar uma imagem.</p>

                                        <!-- </div> -->
                                    </div>
                                    <!-- <InputLabel :for="'image' + index" value="Imagem" /> -->
                                    <input :id="'image' + index" type="file" @change="() => handleImageUpload(index)" />
                                    <img v-if="form.value[index].image_url" :src="form.value[index].image_url"
                                        alt="Imagem do Evento" class="img-upload">
                                </div>
                            </div>
                            <div class="input-wrap">
                                <InputLabel :for="'value' + index" value="Prioridade" />
                                <TextInput :id="'value' + index" v-model="form.value[index].priority"
                                    class="block mt-1 w-full" type="text" placeholder="Valor" required />
                            </div>
                            <div class="input-wrap">
                                <div class="btn-wrap">
                                    <!-- <div class="remove-items" @click="deleteValue(index)">Remover</div> -->
                                    <button type="button" @click="removeValue(index)" class="remove-items">
                                        Remover
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" @click="addNewValue" class="add-items">
                            Adicionar Novo
                        </button>
                        <PrimaryButton type="submit" :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}
                        </PrimaryButton>
                    </div>
                </form>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
