<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import Loader from '@/Components/Loader.vue';
import axios from 'axios';
</script>

<template>
    <Head title="Linktree" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Links</h3>
        </template>
        <notification v-if="showNotification" :message="notificationMessage" :type="notificationType"
            @close="hideNotification"></notification>
        <div class="main-content">
            <div class="table-wrap link-list">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="addLink">Criar novo link</button>
                        </div>
                        <div class="float-left">
                        </div>
                    </div>
                    <!-- <div class="tabs-wrap">
                        <div class="tab" v-for="(filter, index) in filters"
                            v-on:click="changeFilter(filter)">{{ filter }}</div>
                    </div> -->
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Imagem</th>
                                    <th>Título</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="link in links">
                                    <td data-label="Id">
                                        <p>{{ link.id }}</p>
                                    </td>
                                    <td data-label="Imagem">
                                        <div class="link-img-upload">
                                            <input type="file" @change="handleImageUpload(link)" />
                                            <div class="icon" v-if="link.image == null"></div>
                                            <img :src="link.image" v-if="link.image" />
                                        </div>
                                    </td>
                                    <td data-label="Título">
                                        <input v-model="link.title" placeholder="Título no link" />
                                    </td>
                                    <td data-label="Link">
                                        <input v-model="link.link" placeholder="Adicione a url" />
                                    </td>
                                    <td data-label="">
                                        <button class="table-btn delete" v-on:click="deleteLink(link)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="main-btn save" v-on:click="saveLinks(link)" :disabled="loading">{{loading ? "Salvando...": "Salvar" }}</button>
                    </div>

                </div>

            </div>

        </div>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            links: [],
            loading: false,
            showNotification: false
        }

    },
    mounted() {
        this.fetchLinks()
    },
    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = '';
            this.notificationType = '';
        },
        addLink() {
            this.links.push(new Object())
        },
        async deleteLink(link) {
            if (confirm('Deseja excluir o link?')) {
                this.loading = true
                try {
                    await axios.delete(route('linktree.destroy', link.id), link)
                    this.showNotification = true
                    this.notificationMessage = 'Conteúdo salvo'
                    this.notificationType = 'success'
                } catch (error) {
                    console.log(error)
                    this.showNotification = true
                    this.notificationMessage = 'Erro ao salvar'
                    this.notificationType = 'error'
                } finally {
                    this.fetchLinks()
                    this.loading = false
                }
            }
        },
        async handleImageUpload(link) {
            const file = event.target.files[0]
            const formData = new FormData()
            formData.append('image', file)
            formData.append('filePath', 'linktree')
            this.loading = true;
            try {
                const response = await axios.post('/upload-image', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                });
                link.image = response.data;
            } catch (error) {
                console.error(error);
            } finally {
                this.loading = false
            }
        },
        async fetchLinks() {
            this.loading = true
            try {
                const response = await axios.get("/api/linktree")
                this.links = response.data
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
        async saveLinks() {
            this.loading = true;
            const newLinks = this.links.filter((link) => !link.id);
            const existingLinks = this.links.filter((link) => link.id);
            try {
                for (const newLink of newLinks) {
                    const formData = new FormData();
                    formData.append('image', newLink.image);
                    formData.append('title', newLink.title);
                    formData.append('link', newLink.link);
                    await axios.post(route('linktree.store', newLink), newLink)
                    newLink.id = response.data.id;
                }

                for (const existingLink of existingLinks) {
                    const formData = new FormData();
                    formData.append('image', existingLink.image);
                    formData.append('title', existingLink.title);
                    formData.append('link', existingLink.link);
                    await axios.put(route('linktree.update', existingLink.id), existingLink)

                }
            } catch (error) {
                console.error(error);
            } finally {
                this.fetchLinks()
                this.loading = false;
            }

        },

    }
}
</script>