<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Editar usuário" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar usuário</h3>
        </template>

        <div class="edit-user user-form form-wrap small-form" id="content">
            <Loader v-if="loading" />
            <div>
                <div>
                    <form @submit.prevent="updateUser" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome" />
                            <TextInput id="name" ref="name" v-model="user.name" type="text" class=""
                                placeholder="Digite o nome aqui" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="email" value="E-mail" />
                            <TextInput id="email" ref="email" v-model="user.email" type="text" class=""
                                placeholder="Digite o e-mail aqui" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="password" value="Senha" />
                            <TextInput id="password" ref="password" v-model="user.password" type="password" class=""
                                placeholder="Digite a nova senha aqui" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="type_id" value="Tipo" />
                            <select name="role_id" id="role_id" v-model="user.role_id" class="select"  required>
                                <option v-for="role in roles" :value="role.id">{{ role.name }}</option>
                            </select>
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        user: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            loading: false,
            roles: []
        }

    },
    created() {
        this.fetchRoles()
    },
    methods: {
        async fetchRoles() {
            try {
                const response = await axios.get("/api/roleUser")
                this.roles = response.data
            } catch (e) {
                console.log(e)
            } finally {
                console.log('fetch')
            }
        },
        async updateUser() {
            if (confirm("Deseja salvar as alterações realizadas?") == true) {
                try {
                    this.loading = true
                    const userData = { ...this.user };
                    if (!userData.password) {
                        delete userData.password;
                    }

                    await axios.put(route('users.update', this.user.id), userData)
                    window.location.href = '/users'
                } catch (e) {
                    console.log(e)
                    alert('Erro ao editar o usuário')
                } finally {
                    this.loading = false
                }
            }

        },
    }
}
</script>
