<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue'
import InputLabel from '@/Components/InputLabel.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
import TextInput from '@/Components/TextInput.vue';
</script>

<template>

    <Head title="Lista de usuários" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de usuários</h3>
        </template>

        <div class="main-content">
            <div v-if="loading" class="loading">Loading...</div>
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateUser">Criar novo
                                usuário</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <table class="table">
                        <Loader v-if="loading" />
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Cargo</th>
                                <th>Data de criação</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr v-for="user in users">
                                <td data-label="ID">
                                    <p>{{ user.id }}</p>
                                </td>
                                <td data-label="Nome">
                                    <p>{{ user.name }}</p>
                                </td>
                                <td data-label="E-mail">
                                    <p>{{ user.email }}</p>
                                </td>
                                <td data-label="Cargo">
                                    <p>{{ user.role?.name }}</p>
                                </td>
                                <td data-label="Data de criação">
                                    <p>{{ user.created_at }}</p>
                                </td>
                                <td data-label="">
                                    <p><a :href="'/users/' + user.id + '/edit'" class="table-btn edit"></a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchUsers(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchUsers(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchUsers(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchUsers(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchUsers(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            users: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchUsers(1, newTerm)
        }
    },
    mounted() {
        this.fetchUsers(this.page, '')
    },
    methods: {
        redirectToCreateUser: function () {
            window.location.href = "/users/create"
        },
        fetchUsers(page, search) {
            this.loading = true
            axios.get("/api/users?page=" + page + "&name=" + search)
                .then(response => {
                    this.loading = false
                    this.users = response.data.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                    // console.log(response.data)
                })
                .catch(error => {
                    console.log(error)
                });
        }
    }
}
</script>