<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
</script>
<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Dashboard</h3>
        </template>

        <div class="">
            <div>
                <div>
                    <p class="" style="margin-top: 20px;">Você está logado!</p>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
