@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FugazOne-Regular";
  src: url("../fonts/FugazOne-Regular.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

:root {
  /* colors  */
  --primary-pink: #f83a80;
  --hover-pink: #db2065;
  --bg-grey: #f2f2f2;
  --bg-grey-box: #f4f4f4;
  --bg-grey-box-op: #f4f4f480;
  --light-grey: #e3e3e3;
  --white: #ffffff;
  --black: #000000;
  --text-black: #211e1e;
  --text-grey: #707070;
  --placeholder-color: #70707060;
  --light-black: #2c2929;
  --opacity-black: #a2a1a1;
  --lemon-green: #d1ff00;
  --yellow: #ffec1c;
  --red: #f04242;
  --purple: #672dbf;
  /* category colors  */
  --festival: #672ebf;
  --festa: #f83a80;
  --feira: #f88b39;
  --show: #ffec1b;
  --lista: #d1ff00;
  --entrevista: #65ff95;
  --cena: #fa9734;
  --fica-a-dica: #05e2f2;
  --quanto-custa: #f07ef2;
  --guia: #ff5c5c;
  --review: #e3e3e3;
  --musica: #3e6de6;
  --conferencia: #a05715;
  /* opacity  */
  --opacity-sub: 50%;
  --opacity-disabled: 30%;
  /* fonts  */
  --lato-regular: "Lato-Regular";
  --lato-bold: "Lato-Bold";
  --fugaz-regular: "FugazOne-Regular";
  /* font size  */
  --h1: 56px;
  --h2: 36px;
  --h3: 24px;
  --h4: 18px;
  --h5: 16px;
  --h6: 14px;
  --subtitle: 24px;
  --body: 16px;
  --link: 12px;
  --caption: 14px;
  --big-caption: 24px;
  --menu-font: 12px;
  --add-btn-font: 12px;
  --th-font: 14px;
  --td-font: 12px;
  --label-font: 16px;
  --tab-font: 12px;
  --tag-font: 10px;
  --input-font: 14px;
  --pag-font: 16px;
  --font-small: 12px;
  --font-smaller: 10px;
  --button-font: 14px;
  /* line height  */
  --line-height-normal: 1.5em;
  --line-height-small: 1em;
  /* border-radius  */
  --br-default: 5px;
  --br-normal: 10px;
  --br-big: 50px;
  --br-round: 50%;
  /* containers  */
  --login-container: 550px;
  --side-menu-width: 15%;
  --dash-content-width: 85%;
  /* spacing  */
  --main-pad: 40px;
  --button-pad: 20px;
  --menu-tab-pad: 12px 15px;
  --tab-pad: 15px 30px;
  --tag-pad: 10px;
  --td-pad: 20px;
  --input-pad: 15px;
  --input-multi-pad: 4px 8px;
  --menu-padding: 20px;
  --box-padding: 40px;
  --header-padding: 20px 40px;
  --card-padding: 20px;
  --input-height: 50px;
  /* borders  */
  --input-border: 2px solid var(--light-grey);
  --add-btn-border: 2px solid var(--light-black);
  --input-focus-border: var(--light-black);
  --input-hover-border: var(--text-grey);
  --title-border: 1px solid var(--light-grey);
  /* transitions  */
  --transition: 0.3s ease-in-out;
}

body {
  font-family: var(--lato-regular);
  background-color: var(--white);
  transition: var(--transition);
}

body * {
  box-sizing: border-box;
  transition: var(--transition);
  font-weight: normal;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fugaz-regular);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
  color: var(--text-black);
}

h1 {
  font-size: var(--h1);
  line-height: var(--line-height-normal);
}

h2 {
  font-size: var(--h2);
  line-height: var(--line-height-small);
}

h3 {
  font-size: var(--h3);
  line-height: var(--line-height-small);
}

h4 {
  font-size: var(--h4);
  line-height: var(--line-height-small);
}

h5 {
  font-size: var(--h5);
  line-height: var(--line-height-small);
}

h6 {
  font-size: var(--h6);
  line-height: var(--line-height-small);
}

p {
  margin: 0;
  color: var(--text-black);
}

a {
  margin: 0;
}

.main-link {
  color: var(--primary-pink);
  text-decoration: none;
  font-size: var(--link);
  line-height: var(--line-height-small);
}

.main-link:hover {
  color: var(--hover-pink);
}

.main-link.underline {
  text-decoration: underline;
}

.subtitle {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 20px;
}

.subtitle p {
  font-size: var(--subtitle);
  color: var(--light-black);
  line-height: var(--line-height-small);
  font-family: var(--lato-bold);
}

label {
  font-size: var(--label-font);
  color: var(--light-black);
  margin-bottom: 10px;
  line-height: var(--line-height-small);
  color: var(--text-black);
  display: block;
}

label span {
  font-size: var(--label-font);
  color: var(--light-black);
  line-height: var(--line-height-small);
  color: var(--text-black);
}

span {
  color: var(--text-black);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  width: 100%;
}

textarea {
  min-height: 18vh;
}

input,
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  font-size: var(--input-font);
  line-height: var(--line-height-small);
  color: var(--text-grey);
  border-radius: var(--br-default);
  border: var(--input-border);
  padding: var(--input-pad);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  height: var(--input-height);
}

input:focus,
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

input:hover,
[type="text"]:hover,
[type="email"]:hover,
[type="url"]:hover,
[type="password"]:hover,
[type="number"]:hover,
[type="date"]:hover,
[type="datetime-local"]:hover,
[type="month"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
[type="time"]:hover,
[type="week"]:hover,
[multiple]:hover,
textarea:hover,
select:hover {
  border-color: var(--input-hover-border);
}

select {
  width: 100%;
}

.dash-content .multiselect {
  cursor: pointer;
}

.dash-content .multiselect .multiselect__tag {
  background-color: var(--primary-pink);
  color: var(--white);
  border-radius: var(--br-default);
  padding: var(--tag-pad);
  padding-right: 25px;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.dash-content .multiselect .multiselect__tag:hover {
  background-color: var(--hover-pink);
}

.dash-content .multiselect .multiselect__tag span {
  font-size: var(--tag-font);
  line-height: var(--line-height-small);
  color: var(--white);
}

.dash-content .multiselect__option--highlight::after {
  display: none;
}

.dash-content .multiselect__content-wrapper .multiselect__element:hover .multiselect__option--selected::after {
  content: attr(data-selected);
  color: var(--white);
  display: block;
  background-color: transparent;
}

.dash-content .multiselect .multiselect__tag-icon {
  line-height: var(--line-height-small);
  margin-left: 5px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: fit-content;
}

.dash-content .multiselect .multiselect__tag-icon::after {
  content: "";
  background-image: url("../images/delete-tag.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 2px;
}

.dash-content .multiselect .multiselect__tags-wrap {
  display: flex;
  transform: translate(0px, +2px);
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.dash-content .multiselect input.multiselect__input::placeholder {
  opacity: 0;
}

.dash-content .multiselect .multiselect__tags {
  font-size: var(--input-font);
  line-height: var(--line-height-small);
  color: var(--text-grey);
  border-radius: var(--br-default) !important;
  border: var(--input-border);
  padding: var(--input-multi-pad);
  max-height: 200px;
  min-height: var(--input-height);
  overflow-x: auto;
}

.dash-content .multiselect .multiselect__tags:hover {
  border-color: var(--input-hover-border);
}

.dash-content .multiselect.multiselect--active .multiselect__tags {
  border-color: var(--input-focus-border);
}

.dash-content .multiselect.single-select .multiselect__tags {
  height: var(--input-height);
  overflow: hidden;
  padding: var(--input-pad);
}

.dash-content .multiselect__placeholder {
  color: var(--placeholder-color) !important;
  margin-bottom: 0;
  font-size: var(--input-font);
  padding: 0;
  margin-top: 12px;
}

.dash-content .single-select .multiselect__placeholder {
  margin-top: 2px;
}

.dash-content .multiselect .multiselect__select {
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  padding: 0;
  z-index: 1;
}

.dash-content .multiselect .multiselect__select::before {
  display: none;
}

.dash-content .multiselect__content-wrapper {
  border-radius: var(--br-default) !important;
  border: none;
  background-color: var(--bg-grey);
  margin-top: 5px;
  margin-bottom: 5px;
}

.dash-content .multiselect__content-wrapper .multiselect__option {
  padding: var(--input-pad);
  display: block;
  font-size: var(--input-font);
  line-height: var(--line-height-small);
  width: 100%;
  text-align: left;
  color: var(--text-grey);
  background-color: transparent;
}

.dash-content .multiselect__content-wrapper .multiselect__option span {
  color: var(--text-grey);
}

.dash-content .multiselect__content-wrapper .multiselect__option--highlight {
  background-color: var(--primary-pink);
  color: var(--white);
}

.dash-content .multiselect__content-wrapper .multiselect__option--highlight span {
  color: var(--white);
}

.dash-content .multiselect__input {
  height: auto;
  min-height: 0;
  padding-left: 0;
  margin-bottom: 0;
  font-size: var(--input-font);
  line-height: var(--line-height-small);
  color: var(--text-grey);
}

.dash-content .multiselect__single {
  padding-left: 0;
  margin-bottom: 0;
  font-size: var(--input-font);
  line-height: var(--line-height-small);
  min-height: 0;
  color: var(--text-grey);
  background-color: transparent;
  background: transparent;
  display: block;
  text-align: left;
  border-radius: 0;
  transition: none;
  margin-top: 2px;
}

.input-wrap {
  display: block;
  margin-bottom: 25px;
  position: relative;
}

.view-content {
  transition: var(--transitionFast);
  float: right;
  margin-top: -45px;
  color: white;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 6px;
  padding: 5px 35px 5px 10px;
  margin-bottom: 0px;
  font-size: 14px;
  border-radius: 5px;
  background-size: 20px;
  background-color: var(--primary-pink);
  background-image: url("../images/view-content-icon.svg");
}

.view-content:hover {
  background-color: var(--hover-pink);
}

.required {
  color: var(--red);
}

.ql-snow .ql-tooltip {
  position: sticky !important;
  transform: translateY(0) !important;
  border: 0px !important;
  width: 320px !important;
  bottom: 20px !important;
  left: calc(50% - 160px) !important;
  right: 0 !important;
  background-color: var(--bg-grey) !important;
  border-radius: 5px;
}

.main-checkbox,
[type="checkbox"],
[type="radio"] {
  width: 24px;
  height: 24px;
  border-radius: var(--br-default);
  border: var(--input-border);
  background-color: transparent;
  cursor: pointer;
}

.main-checkbox:hover,
[type="checkbox"]:hover,
[type="radio"]:hover {
  border-color: var(--input-hover-border);
}

.main-checkbox:checked,
[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: var(--primary-pink);
  background-color: var(--primary-pink);
}

[type="checkbox"]:checked:hover,
[type="checkbox"]:checked:focus,
[type="radio"]:checked:hover,
[type="radio"]:checked:focus {
  border-color: var(--primary-pink);
  background-color: var(--primary-pink);
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder-color);
}

.main-btn {
  font-size: var(--button-font);
  line-height: var(--line-height-small);
  color: var(--white);
  background-color: var(--primary-pink);
  border-radius: var(--br-default);
  padding: var(--button-pad);
  cursor: pointer;
  border: none;
  outline: none;
  font-family: var(--fugaz-regular);
  text-transform: uppercase;
  display: block;
  min-width: 124px;
}

.main-btn.max-btn {
  width: 100%;
}

a.main-btn {
  text-decoration: none;
  display: block;
}

.main-btn:hover {
  background-color: var(--hover-pink);
}

.main-btn:disabled {
  opacity: var(--opacity-disabled);
  pointer-events: none;
}

.remove-img-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: var(--br-default);
  background-color: var(--red);
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 5px;
  padding-right: 7px;
  font-family: var(--lato-regular);
  text-transform: none;
}

.remove-img-btn::before {
  content: "";
  background-image: url("../images/trash-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.table-btn {
  width: 27px;
  height: 27px;
  border-radius: var(--br-default);
  background-color: var(--primary-pink);
  color: var(--white);
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  font-size: 0;
}

.table-btn.edit {
  background-image: url("../images/edit-icon.svg");
}

.table-btn.delete {
  background-image: url("../images/trash-icon.svg");
}

.table-btn.activate {
  background-image: url("../images/activate.svg");
}

.table-btn.view {
  background-image: url("../images/view-content-icon.svg");
}

.table-btn:hover {
  background-color: var(--hover-pink);
}

.add-items {
  background-color: transparent;
  border: var(--add-btn-border);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: var(--input-pad);
  border-radius: var(--br-default);
  font-family: var(--fugaz-regular);
  font-size: var(--add-btn-font);
  height: var(--input-height);
  line-height: var(--line-height-small);
  text-transform: uppercase;
  width: calc(50% - 15px);
}

.add-items::after {
  content: "";
  background-image: url("../images/add-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.tag {
  font-size: var(--tag-font);
  line-height: var(--line-height-small);
  color: var(--white);
  background-color: var(--primary-pink);
  border-radius: var(--br-default);
  padding: var(--tag-pad);
  display: inline-block;
  text-transform: uppercase;
}

input:disabled,
.disabled {
  opacity: var(--opacity-disabled);
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-wrap .tox {
  min-height: 550px;
}

.input-count-char {
  color: #949494;
  display: block;
  font-size: 12px;
  background-color: #f2f2f2aa;
  width: fit-content;
  float: right;
  padding: 5px 10px 5px;
  border-radius: 3px;
  margin-top: 5px;
  position: absolute;
  right: 0px;
}

body .tox .tox-notification,
body .tox .tox-notification--warn,
body .tox .tox-notification--warning {
  background-color: var(--primary-pink);
  color: var(--white);
  border-radius: var(--br-default);
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  margin: 0;
}

body .tox .tox-notification--warn svg,
body .tox .tox-notification--warning svg {
  fill: var(--white) !important;
}

body .tox .tox-notifications-container {
  background-color: transparent !important;
}

body .tox .tox-notification__dismiss {
  border: none;
  border-radius: var(--br-default);
}

body .tox .tox-button--naked:hover:not(:disabled),
body .tox .tox-button--naked:focus:not(:disabled) {
  background-color: var(--hover-pink);
}

body .tox .tox-notification--warn svg,
body .tox .tox-notification--warning svg {
  fill: var(--white);
}

body .tox .tox-notification--warn p,
body .tox .tox-notification--warning p,
body .tox .tox-notification--warn a,
body .tox .tox-notification--warning a {
  color: var(--white);
  font-family: var(--lato-regular);
  font-size: var(--input-font);
}

body .tox .tox-tbtn {
  cursor: pointer;
}

.form-wrap .tox {
  color: var(--text-black);
}

.form-wrap .tox-tinymce {
  border-radius: var(--br-default);
  overflow: hidden;
  border: 2px solid var(--light-grey);
}

.form-wrap .tox .tox-toolbar,
.form-wrap .tox .tox-toolbar__overflow,
.form-wrap .tox .tox-toolbar__primary {
  background-color: transparent;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--light-grey);
  border-radius: 0;
}

.form-wrap .tox .tox-toolbar-overlord {
  background-color: transparent;
}

.form-wrap .tox .tox-tbtn svg {
  fill: var(--light-black);
}

.form-wrap .tox-tinymce .tox-statusbar__branding {
  display: none;
}

.form-wrap .tox:not([dir="rtl"]) .tox-toolbar__group:not(:last-of-type) {
  border: none;
}

.form-wrap .tox .tox-statusbar {
  border: none;
  background-color: transparent;
}

.form-wrap .tox .tox-statusbar * {
  color: var(--light-black);
  font-size: var(--input-font);
  font-family: var(--lato-regular);
}

.form-wrap .tox iframe body {
  color: orange;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--br-default);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-pink);
  border-radius: var(--br-default);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-pink);
}

body>div>div {
  background-color: var(--white) !important;
}

.link-home-wrap {
  width: 100%;
  display: block;
}

.link-home-wrap a {
  width: 100%;
  display: block;
}

.logo-div {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-div.dash {
  width: fit-content;
  margin: 0;
}

.logo-div p {
  font-size: var(--h4);
  padding-left: 26px;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 2px solid var(--light-grey);
}

.logo-div.dash p {
  font-size: var(--button-font);
}

.logo-div .logo-img {
  width: 54px;
  height: auto;
  margin-right: 26px;
}

.logo-div.dash .logo-img {
  width: 40px;
  height: var(--input-height);
}

.logo-div .logo-img img {
  width: 100%;
  height: 100%;
}

.login-box {
  background-color: var(--bg-grey-box) !important;
  border-radius: var(--br-default) !important;
  margin-top: 40px;
  padding: var(--box-padding);
  width: var(--login-container);
  margin: 40px auto 0 auto;
  max-width: 100% !important;
}

.login-box .link-wrap {
  display: none;
}

.login-box .main-checkbox {
  margin-right: 10px;
}

.login-box .main-btn {
  margin-top: 20px;
}

.login-box .link-wrap {
  margin-top: 20px;
}

.header {
  width: 100%;
  padding: var(--header-padding);
}

.header .header-flex {
  display: flex;
  justify-content: space-between;
}

.toggle-menu {
  width: var(--input-height);
  height: var(--input-height);
  position: relative;
  border-radius: var(--br-default);
  background-color: var(--bg-grey);
  padding: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  display: none;
}

.toggle-menu.open {
  background-color: var(--primary-pink);
}

.toggle-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: var(--light-black);
  border-radius: var(--br-default);
  opacity: 1;
  left: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.toggle-menu span:nth-child(1) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-menu span:nth-child(2) {
  top: 23px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-menu span:nth-child(3) {
  top: 31px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-menu.open span {
  background: var(--white);
}

.toggle-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
  left: 19px;
}

.toggle-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.toggle-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 19px;
}

.user-menu {
  display: flex;
  align-items: center;
  z-index: 10;
}

.user-menu .dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 180px;
  border-radius: var(--br-default);
  background-color: var(--bg-grey);
  padding: var(--button-pad);
  line-height: var(--line-height-small);
  font-size: var(--button-font);
  height: var(--input-height);
}

.user-menu .dropdown-btn svg {
  width: 20px;
  height: 20px;
}

.user-menu .dropdown-content {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  width: fit-content;
  overflow: hidden;
  min-width: 180px;
}

.user-menu:has(.dropdown-content.open) svg {
  rotate: 180deg;
}

.user-menu .dropdown-content .dropdown-links {
  border-radius: var(--br-default);
  background-color: var(--bg-grey);
  overflow: hidden;
}

.user-menu .dropdown-content .dropdown-links a,
.user-menu .dropdown-content .dropdown-links button {
  padding: var(--button-pad);
  display: block;
  font-size: var(--button-font);
  line-height: var(--line-height-small);
  width: 100%;
  text-align: left;
}

.user-menu .dropdown-content .dropdown-links a:hover,
.user-menu .dropdown-content .dropdown-links button:hover {
  background-color: var(--light-grey);
}

.side-menu {
  background-color: var(--bg-grey);
  border-radius: 0 var(--br-normal) 0 0;
  padding: var(--menu-padding);
  width: var(--side-menu-width);
  position: relative;
}

.floated-menu {
  position: sticky;
  top: 20px;
}

.side-menu .dropdown-wrapper {
  margin-bottom: 10px;
}

.side-menu .dropdown-wrapper:last-child {
  margin-bottom: 0;
}

.side-menu .dropdown-wrapper .side-menu-item {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: var(--br-default);
  padding: var(--menu-tab-pad);
  line-height: var(--line-height-small);
  font-size: var(--menu-font);
  color: var(--opacity-black);
  width: 100%;
}

.side-menu .dropdown-wrapper:has(.open) .side-menu-item {
  background-color: var(--primary-pink);
  color: var(--white);
}

.side-menu .dropdown-wrapper .side-menu-item:hover {
  background-color: var(--primary-pink);
  color: var(--white);
}

.side-menu .dropdown-wrapper .side-menu-item .menu-item-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  opacity: 40%;
}

.side-menu .dropdown-wrapper .side-menu-item:hover .menu-item-icon,
.side-menu .dropdown-wrapper:has(.open) .side-menu-item .menu-item-icon {
  opacity: 100%;
  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(233deg) brightness(115%) contrast(91%);
}

.side-menu .dropdown-wrapper .side-menu-item .menu-item-icon img {
  width: 100%;
  height: 100%;
}

.side-menu .dropdown-wrapper .dropdown-content {
  width: 100%;
  padding: 0px;
  line-height: var(--line-height-small);
  font-size: var(--menu-font);
  color: var(--opacity-black);
}

.side-menu .dropdown-wrapper .dropdown-links .dropdown-link:last-child {
  margin-bottom: 0;
}

.side-menu .dropdown-wrapper .dropdown-content .dropdown-link {
  margin-bottom: 0px;
  display: block;
  padding: 10px 20px 10px 20px;
}

.side-menu .dropdown-wrapper .dropdown-content .dropdown-link:hover a,
.side-menu .dropdown-wrapper .dropdown-content .dropdown-link:hover {
  color: var(--primary-pink);
}

.side-menu .dropdown-wrapper .dropdown-content .dropdown-link:nth-child(1) {
  margin-top: 10px;
}

.dash-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dash-wrap .dash-child {
  flex-grow: 1;
}

.dash-content {
  padding: 0 var(--main-pad) var(--main-pad) var(--main-pad);
  width: var(--dash-content-width);
}

.dash-content header h3 {
  margin-bottom: 5px;
  line-height: var(--line-height-normal);
}

.dash-content:has(.form-wrap) header h3 {
  margin-bottom: 30px;
}

.main-content .list-header .button-wrap {
  width: 270px;
  display: block;
  float: right;
}

.main-content .list-header .button-wrap button {
  width: 100%;
}

.main-content .list-header .search-input {
  width: 100%;
  margin-top: 20px;
}

.list-header {
  margin-bottom: var(--main-pad);
}

.search-input {
  display: inline-block;
  position: relative;
}

.search-input label {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 15px;
  left: 15px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-input input {
  width: 100%;
  padding-left: 40px;
}

.pagination {
  display: flex;
  align-items: center;
  width: fit-content;
  float: right;
  padding: var(--main-pad) 0;
}

.pagination .pagination-btn {
  font-size: var(--pag-font);
  color: var(--text-grey);
  padding: 10px;
  width: 27px;
  height: 27px;
  border-radius: var(--br-default);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.pagination .pagination-btn:first-child {
  margin-left: 0;
}

.pagination .pagination-btn:hover {
  background-color: var(--bg-grey);
}

.pagination .pagination-btn.current {
  color: var(--primary-pink);
}

.pagination .pagination-btn.previous-btn,
.pagination .pagination-btn.next-btn {
  background-color: var(--primary-pink);
  color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px;
}

.pagination .pagination-btn.previous-btn {
  background-image: url("../images/seta-esq.svg");
}

.pagination .pagination-btn.next-btn {
  background-image: url("../images/seta-dir.svg");
}

.pagination .pagination-btn.previous-btn:hover,
.pagination .pagination-btn.next-btn:hover {
  background-color: var(--hover-pink);
}

.pagination .pagination-ellipsis {
  margin-left: 5px;
}

.tabs-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.table-wrap {
  position: relative;
}

.table-wrap .no-results {
  width: 100%;
}

.table-wrap .no-results p {
  font-size: var(--h4);
  line-height: var(--line-height-normal);
  color: var(--text-black);
  text-align: center;
}

.table-wrap table {
  position: relative;
}

.table-wrap .tabs-wrap {
  margin-bottom: var(--main-pad);
}

.tabs-wrap .tab {
  margin-right: 10px;
  font-size: var(--tab-font);
  padding: var(--tab-pad);
  color: var(--opacity-black);
  background-color: var(--bg-grey);
  border-radius: var(--br-big);
  line-height: var(--line-height-small);
  cursor: pointer;
}

.tabs-wrap .tab:hover {
  background-color: var(--light-grey);
}

.tabs-wrap .tab.active {
  background-color: var(--primary-pink);
  color: var(--white);
}

.table-wrap tr {
  height: 1px;
}

.table-wrap th {
  text-align: left;
  padding-bottom: 20px;
  font-size: var(--th-font);
  line-height: var(--line-height-small);
  color: var(--text-black);
}

.table-wrap td {
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  height: inherit;
}

.table-wrap.link-list td {
  padding-right: 20px;
}

.table-wrap.link-list td:last-child {
  padding-right: 0;
}

.table-wrap.link-list td:has(.link-img-upload) {
  max-width: 70px;
  width: 70px;
  height: 60px;
  max-height: 60px;
}

.table-wrap .link-img-upload {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--br-default);
  border: 2px dashed var(--light-grey);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-wrap .link-img-upload img {
  width: auto;
  height: auto;
  margin: 0;
  display: block;
  position: absolute;
  border-radius: var(--br-default);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.table-wrap .link-img-upload input[type="file"] {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.table-wrap .link-img-upload .icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/add-grey.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.table-wrap.link-list .main-btn.save {
  float: right;
  margin-top: 20px;
}

.table-wrap.link-list td:first-child {
  width: 1%;
}

.table-wrap td:first-child p {
  border-radius: var(--br-default) 0 0 var(--br-default);
  padding-left: var(--td-pad);
}

.table-wrap td:last-child p {
  border-radius: 0 var(--br-default) var(--br-default) 0;
}

.table-wrap td p {
  font-size: var(--td-font);
  line-height: var(--line-height-small);
  color: var(--text-black);
  padding: var(--td-pad);
  padding-left: 0;
  text-align: left;
  background-color: var(--bg-grey-box-op);
  min-height: 52px;
  height: 100%;
  display: flex;
  align-items: center;
}

.table-wrap td:has(button) {
  width: 1%;
}

.table-wrap td:has(button) p {
  flex-direction: column;
  justify-content: center;
}

.table-wrap .table-btn {
  margin-bottom: 10px;
}

.table-wrap .table-btn:last-child {
  margin-bottom: 0;
}

.table-wrap td img {
  padding: 0;
  margin: 0;
  border-radius: var(--br-default);
  object-fit: cover;
}

.form-wrap {
  width: 100%;
  position: relative;
}

.form-wrap.small-form {
  width: 50%;
}

.form-wrap .input-wrap {
  width: 100%;
}

.form-wrap .main-btn {
  float: right;
}

button.main-btn:focus {
  animation: delayEnable 50s 1 forwards;
}

@keyframes delayEnable {
  0% {
    pointer-events: auto;
    opacity: 100%;
  }

  1% {
    pointer-events: none;
    opacity: 50%;
  }

  100% {
    pointer-events: none;
    opacity: 50%;
  }
}

.form-wrap .double-input {
  display: flex;
  justify-content: space-between;
}

.form-wrap .double-input .input-wrap {
  width: calc(50% - 15px);
}

.form-wrap .input-wrap .img-input-wrap {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: var(--br-default);
  border: 2px dashed var(--light-grey);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrap .input-wrap .img-input-wrap input[type="file"] {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-wrap .input-wrap .img-input-wrap img.img-upload {
  max-width: 460px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  position: absolute;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.form-wrap .input-wrap .img-input-wrap img.img-upload.empty {
  opacity: 0;
}

.form-wrap .input-wrap .img-input-wrap .upload-label {
  width: 200px;
  text-align: center;
}

.form-wrap .input-wrap .img-input-wrap .upload-label p {
  color: var(--text-grey);
  font-size: var(--font-small);
}

.form-wrap .input-wrap .img-input-wrap .upload-label img {
  margin: auto;
  margin-bottom: 10px;
  width: 60px;
  height: 40px;
}

.form-wrap .sub-input-wrap {
  padding: var(--card-padding);
  border-radius: var(--br-default);
  background-color: var(--bg-grey);
  margin-bottom: 10px;
}

.form-wrap .sub-input-wrap .btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.form-wrap .sub-input-wrap .remove-items {
  width: fit-content;
  font-family: var(--fugaz-regular);
  font-size: var(--add-btn-font);
  color: var(--primary-pink);
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

.form-wrap .sub-input-wrap .remove-items:hover {
  color: var(--hover-pink);
}

.table-wrap .tag.conferencia {
  background-color: var(--conferencia);
}

.table-wrap .tag.festival {
  background-color: var(--festival);
}

.table-wrap .tag.festa {
  background-color: var(--festa);
}

.table-wrap .tag.feira {
  background-color: var(--feira);
}

.table-wrap .tag.show {
  background-color: var(--show);
  color: var(--light-black);
}

.table-wrap .tag.musica {
  background-color: var(--musica);
}

.table-wrap .tag.entrevista {
  background-color: var(--entrevista);
  color: var(--light-black);
}

.table-wrap .tag.fica-a-dica {
  background-color: var(--fica-a-dica);
  color: var(--light-black);
}

.table-wrap .tag.review {
  background-color: var(--review);
  color: var(--light-black);
}

.table-wrap .tag.quanto-custa {
  background-color: var(--quanto-custa);
}

.table-wrap .tag.guia {
  background-color: var(--guia);
}

.table-wrap .tag.lista {
  background-color: var(--lista);
  color: var(--light-black);
}

.list-header {
  flex-direction: column;
  float: left;
  width: 100%;
  color: grey;
}

.table-wrapper {
  min-height: 400px;
}

.table {
  width: 100%;
  height: 100%;
}

td,
th {
  text-align: center;
}

table tr td img {
  max-width: 100px;
  padding: 5px;
  margin: auto;
  display: block;
}

tr:nth-child(even) {
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.form {
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(0.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(1.2);
  }
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--bg-grey);
  z-index: 2000;
  border-radius: var(--br-default);
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  height: 64px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.form-wrap .loader-wrapper .boxContainer {
  top: 50vh;
}

.box {
  transform: scaleY(0.4);
  height: 100%;
  width: var(--boxSize);
  background: var(--primary-pink);
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}

.list-header-col {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
  flex-basis: 15%;
}

.drop-image {
  padding: 10px;
  background-color: white;
  width: 50%;
  margin-top: 20px;
  border-radius: 0.375rem;
}

.drop-image:hover {
  background-color: blue;
  cursor: pointer;
}

.content-wrapper {
  padding: 1.25rem;
  text-align: center;
}

.content {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

/* start text editor */

.content-tools {
  float: right;
  margin-top: 11px;
  color: var(--primary-pink);
  margin-right: 14px;
  text-transform: uppercase;
  font-size: 14px;
}

.content-tools:hover {
  text-decoration: underline;
}

.ql-toolbar.ql-snow .ql-formats:nth-child(2),
.ql-toolbar.ql-snow .ql-formats:nth-child(4),
.ql-toolbar.ql-snow .ql-formats:nth-child(7) {
  margin-right: 0px !important;
}

.ql-toolbar.ql-snow button.ql-script[value="sub"],
.ql-toolbar.ql-snow button.ql-script[value="super"],
.ql-toolbar.ql-snow button.ql-indent[value="-1"],
.ql-toolbar.ql-snow button.ql-indent[value="+1"],
.ql-toolbar.ql-snow .ql-strike,
.ql-toolbar.ql-snow .ql-code-block,
.ql-toolbar.ql-snow span.ql-font.ql-picker,
.ql-toolbar.ql-snow .ql-align.ql-picker.ql-icon-picker,
.ql-toolbar.ql-snow .ql-header[value="1"] {
  display: none;
}

.ql-container.ql-snow {
  height: 590px;
  overflow-y: scroll;
}

.ql-editor {
  max-width: 800px;
  min-height: 100%;
  padding: 50px 0px;
  margin: 0px auto;
  height: fit-content !important;
}

.ql-editor hr {
  margin-bottom: 20px;
  border: 0px;
  background-color: var(--neutral4);
  height: 2px;
}

.ql-editor h2,
.ql-editor h2 span {
  font-size: 28px !important;
  background-color: transparent !important;
  text-transform: initial !important;
  color: var(--neutral1) !important;
  margin: 0px 0px 20px 0px !important;
  font-weight: bold !important;
  line-height: 1.2em !important;
  font-family: "Lato" !important;
}

.ql-editor h3,
.ql-editor h3 span {
  font-size: 24px !important;
  background-color: transparent !important;
  text-transform: initial !important;
  color: var(--neutral1) !important;
  margin: 0px 0px 20px 0px !important;
  font-weight: bold !important;
  line-height: 1.2em !important;
  font-family: "Lato" !important;
}

.ql-editor h4,
.ql-editor h4 span {
  font-size: 20px !important;
  background-color: transparent !important;
  text-transform: initial !important;
  color: var(--neutral1) !important;
  margin: 0px 0px 20px 0px !important;
  font-weight: bold !important;
  line-height: 1.2em !important;
  font-family: "Lato" !important;
}

.ql-editor p {
  font-size: 16px !important;
  margin-bottom: 20px !important;
  width: 100% !important;
  font-family: "Lato" !important;
  color: var(--neutral1) !important;
  line-height: 1.5em !important;
  text-align: left !important;
  background-color: transparent !important;
}

.ql-editor p:has(img:only-child) {
  margin-bottom: 0px !important;
}

/*.ql-editor p:has(br:only-child){
  display: none!important;
}*/

.ql-editor p * {
  font-size: 16px !important;
  font-family: "Lato" !important;
  color: var(--neutral1) !important;
  line-height: 1.5em !important;
  text-align: left !important;
  font-weight: normal !important;
  display: inline !important;
  background-color: transparent !important;
}

.ql-editor p a {
  color: var(--primary-pink) !important;
}

.ql-editor p span strong,
.ql-editor p strong {
  font-weight: bold !important;
  background-color: transparent !important;
  font-family: "Lato" !important;
}

.ql-editor p strong em,
.ql-editor p em strong {
  font-weight: bold !important;
}

.ql-editor p span em,
.ql-editor p em {
  font-style: italic !important;
  background-color: transparent !important;
  font-family: "Lato" !important;
}

.ql-editor span blockquote,
.ql-editor p blockquote,
.ql-editor blockquote {
  font-style: italic !important;
  padding-left: 20px !important;
  border-left: 2px solid #e3e3e3 !important;
  margin-bottom: 20px !important;
  line-height: 1.5em !important;
  background-color: transparent !important;
  font-family: "Lato" !important;
  font-size: 16px !important;
  margin-left: 30px;
}

.ql-snow .ql-editor blockquote strong {
  font-weight: bold;
}

.ql-snow .ql-editor blockquote {
  margin-left: 30px;
}

.ql-editor video {
  width: 100%;
  border-radius: var(--mediumRadius1);
  overflow: hidden;
  margin-bottom: 20px;
  background-color: transparent !important;
}

.ql-snow a {
  color: var(--primary-pink) !important;
}

.ql-editor a * {
  text-decoration: underline !important;
  color: var(--main1) !important;
  font-family: "Lato" !important;
  line-height: 1.5em !important;
  font-size: 16px !important;
  background-color: transparent !important;
}

.ql-editor a:hover {
  color: var(--pinkHover);
  transition: var(--transitionFast);
}

.ql-editor b {
  font-weight: bold;
  background-color: transparent !important;
  font-family: "Lato" !important;
}

.ql-editor iframe {
  width: 100%;
  margin-bottom: 20px;
  border-radius: var(--mediumRadius1);
  height: 400px;
  border-radius: 10px;
}

.ql-editor iframe[src*="instagram"] {
  height: 608px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #e3e3e3;
}

.ql-editor iframe[src*="spotify"] {
  height: 360px;
}

.ql-editor iframe[src*="tiktok"] {
  height: 580px;
  width: 330px;
}

.ql-editor ol {
  list-style: none !important;
  margin-left: 0px !important;
  font-size: 16px !important;
  margin-bottom: 20px !important;
  width: 100% !important;
  font-family: "Lato" !important;
  color: var(--neutral1) !important;
  line-height: 1.5em !important;
  text-align: left !important;
  background-color: transparent !important;
  padding-left: 0px !important;
}

.ql-editor ol li {
  margin-bottom: 0px !important;
  background-color: transparent !important;
  font-family: "Lato" !important;
  padding-left: 0px !important;
}

.ql-editor ol li:before {
  display: none !important;
}

.ql-editor ol li * {
  font-family: "Lato" !important;
  color: var(--neutral1) !important;
  line-height: 1.5em !important;
  text-align: left !important;
  font-size: 16px !important;
  background-color: transparent !important;
}

.ql-editor ol li a,
.ql-editor ul li a {
  color: var(--primary-pink) !important;
}

.ql-editor ol li span em,
.ql-editor ol li em {
  font-style: italic !important;
  background-color: transparent !important;
  font-family: "Lato" !important;
}

.ql-editor ul {
  list-style: disc !important;
  margin-left: 20px !important;
  font-size: 16px !important;
  margin-bottom: 0px !important;
  width: calc(100% - 20px) !important;
  font-family: "Lato" !important;
  color: var(--neutral1) !important;
  line-height: 1.5em !important;
  text-align: left !important;
  background-color: transparent !important;
  padding-left: 0px !important;
}

.ql-editor li {
  width: 100%;
  font-size: 16px !important;
  margin-bottom: 5px !important;
  width: 100% !important;
  font-family: "Lato" !important;
  color: var(--neutral1) !important;
  line-height: 1.5em !important;
  text-align: left !important;
  background-color: transparent !important;
}

.ql-editor li:last-child {
  margin-bottom: 20px !important;
}

.ql-editor li span,
.ql-editor li strong,
.ql-editor li em {
  font-family: "Lato" !important;
  color: var(--neutral1) !important;
  line-height: 1.5em !important;
  font-weight: normal !important;
  font-size: 16px !important;
  display: inline !important;
  background-color: transparent !important;
}

.ql-editor li strong {
  font-weight: bold !important;
  background-color: transparent !important;
  font-family: "Lato" !important;
}

.ql-editor li em {
  font-style: italic !important;
  background-color: transparent !important;
  font-family: "Lato" !important;
}

.ql-editor figure {
  border-radius: var(--mediumRadius1);
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 40px;
  background-color: transparent !important;
  font-family: "Lato" !important;
}

.ql-editor img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  margin-bottom: 10px !important;
  border-radius: var(--mediumRadius1) !important;
  background-color: transparent !important;
  font-family: "Lato" !important;
}

.ql-editor figcaption {
  font-size: 14px !important;
  color: var(--neutral3) !important;
  font-family: "Lato" !important;
  line-height: 1.5em !important;
  margin-bottom: 10px !important;
  background-color: transparent !important;
}

/* end text editor */

@media screen and (max-width: 1050px) {
  :root {
    --h1: 24px;
    --h2: 18px;
    --h3: 16px;
    --h4: 14px;
    --h5: 12px;
    --h6: 12px;
    --subtitle: 16px;
    --body: 14px;
    --link: 10px;
    --caption: 12px;
    --big-caption: 16px;
    --menu-font: 10px;
    --add-btn-font: 10px;
    --th-font: 12px;
    --td-font: 10px;
    --label-font: 14px;
    --tab-font: 10px;
    --tag-font: 10px;
    --input-font: 12px;
    --pag-font: 14px;
    --font-small: 10px;
    --font-smaller: 8px;
    --button-font: 12px;
    /* containers  */
    --login-container: 100%;
    --side-menu-width: 300px;
    --dash-content-width: 100%;
    /* spacing  */
    --main-pad: 30px;
    --header-padding: 20px 30px;
    --tab-pad: 12px 30px;
    --button-pad: 18px;
  }

  .floated-menu {
    top: 0px;
    position: relative;
  }

  .toggle-menu {
    display: block;
  }

  .form-wrap.small-form {
    width: 100%;
  }

  .side-menu {
    position: absolute;
    left: -1000px;
    border-radius: var(--br-default);
    z-index: 8;
  }

  .side-menu.open {
    left: var(--main-pad);
  }

  .ql-editor iframe[src*="instagram"] {
    height: 510px;
    width: 300px;
  }

  .ql-editor iframe[src*="spotify"] {
    height: 152px;
  }
}

@media screen and (max-width: 750px) {
  .table-wrap thead {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .table-wrap tr {
    height: fit-content;
    display: block;
    margin-bottom: 0.625em;
  }

  .table-wrap td {
    display: block;
    text-align: right;
    font-size: var(--th-font);
    border-radius: 0 var(--br-default) var(--br-default) 0;
    height: 55px;
    padding-bottom: 0;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
  }

  .table-wrap td p,
  .table-wrap td:first-child p {
    border-radius: 0;
    padding-left: var(--td-pad);
  }

  .table-wrap.link-list td:first-child {
    width: 100%;
  }

  .table-wrap.link-list td {
    padding-right: 0;
  }

  .table-wrap.link-list td:has(.link-img-upload) {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .table-wrap.link-list td:has(.link-img-upload)::before {
    margin-right: 20px;
  }

  .table-wrap.link-list td::before {
    width: 100px;
  }

  .table-wrap.link-list td input {
    display: inline-block;
    height: 100%;
    float: right;
    width: calc(100% - 120px);
  }

  .table-wrap .link-img-upload {
    max-width: 70px;
    width: 70px;
    height: 60px;
    max-height: 60px;
  }

  .table-wrap td:before {
    content: attr(data-label);
    float: left;
    min-width: 15%;
    width: 100px;
    text-align: left;
    padding: var(--td-pad);
    background-color: var(--bg-grey);
    border-radius: var(--br-default) 0 0 var(--br-default);
    line-height: var(--line-height-normal);
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-black);
  }

  .table-wrap td:has(button) {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
  }

  .table-wrap td:has(button)::before {
    display: none;
  }

  .table-wrap td:has(button) p {
    background-color: transparent;
    padding: 0;
    float: right;
    flex-direction: row;
    align-items: flex-start;
    min-height: 0;
  }

  .table-wrap td:has(button) button {
    width: 50px;
    padding: var(--button-pad);
  }

  .table-wrap td:has(img) {
    height: 110px;
  }

  .table-wrap td:has(img) img {
    max-height: 70px;
  }

  .table-wrap td:has(.tag) {
    height: 70px;
  }

  .table-wrap .table-btn {
    margin-bottom: 0;
    margin-left: 10px;
    float: right;
  }

  button.table-btn.delete {
    width: 27px;
    height: 27px;
    padding: 0px;
  }

  .tabs-wrap .tab {
    margin-bottom: 10px;
  }

  .main-content .list-header .button-wrap {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
  }

  .main-content .list-header .button-wrap .main-btn {
    border-radius: var(--br-default) var(--br-default) 0 0;
  }

  .main-content .list-header .search-input {
    margin-top: 5px;
  }

  .dash-content header h3 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .form-wrap .double-input {
    flex-direction: column;
  }

  .form-wrap .double-input .input-wrap {
    width: 100%;
  }

  .form-wrap .input-wrap .img-input-wrap img.img-upload {
    max-width: 90%;
    max-height: 85%;
    height: auto;
  }

  .form-wrap .input-wrap .img-input-wrap {
    height: 250px;
  }

  .add-items {
    width: 100%;
  }

  .user-menu .dropdown-btn {
    height: var(--input-height);
    width: var(--input-height);
    font-size: 0;
    min-width: 0;
    background-image: url("../images/user-menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  .user-menu .dropdown-btn svg {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --main-pad: 20px;
    --input-pad: 12px;
    --input-height: 45px;
    --menu-padding: 20px;
    --box-padding: 20px;
    --header-padding: 20px 20px;
    --card-padding: 20px;
    --tag-pad: 10px;
    --td-pad: 20px;
    --menu-tab-pad: 12px 15px;
    --button-pad: 15px;
    --side-menu-width: 100%;
  }

  .input-wrap {
    margin-bottom: 20px;
  }

  .toggle-menu {
    z-index: 20;
  }

  .side-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: -1000px;
    border-radius: var(--br-default);
    padding-top: 100px;
    z-index: 15;
  }

  .side-menu.open {
    top: 0;
    left: 0;
    right: 0;
  }

  .toggle-menu span {
    left: 12px;
  }

  .toggle-menu span:nth-child(1) {
    top: 14px;
  }

  .toggle-menu span:nth-child(2) {
    top: 22px;
  }

  .toggle-menu span:nth-child(3) {
    top: 30px;
  }

  .toggle-menu.open span:nth-child(1) {
    top: 14px;
    left: 15px;
  }

  .toggle-menu.open span:nth-child(3) {
    left: 15px;
    top: 29px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --td-pad: 15px;
  }

  .table-wrap .link-img-upload {
    max-width: 45px;
    width: 45px;
    height: 45px;
    max-height: 45px;
  }

  .table-wrap.link-list td::before {
    width: 80px;
  }

  .table-wrap.link-list td:has(.link-img-upload)::before {
    margin-right: 10px;
  }

  .table-wrap.link-list td input {
    width: calc(100% - 90px);
  }

  .side-menu {
    padding-top: 80px;
  }

  .table-wrap td {
    height: 45px;
  }

  .table-wrap td p {
    min-height: 0;
  }

  .logo-div.dash .logo-img {
    margin-right: 0;
  }

  .logo-div.dash p {
    display: none;
  }
}