<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import Editor from "@/Components/Editor.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
</script>

<template>
    <Head title="Criar página" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Criar página</h3>
        </template>

        <div class="form-wrap create-page" id="content">
            <Loader v-if="loading" />
            <div>
                <div>
                    <form @submit.prevent="createPage" class="form">
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel for="Titulo" value="Título" />
                                <TextInput
                                    id="Titulo"
                                    ref="Titulo"
                                    v-model="page.title"
                                    type="text"
                                    class=""
                                    placeholder="Digite o título da página"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel
                                    for="Subtitulo"
                                    value="Sub-título"
                                />
                                <TextInput
                                    id="Subtitulo"
                                    ref="Subtitulo"
                                    v-model="page.sub_title"
                                    type="text"
                                    class=""
                                    placeholder="Digite o subtitulo da página"
                                />
                            </div>
                        </div>
                        <Editor
                            title="Conteúdo"
                            :content="page.content"
                            @update="(value) => (page.content = value)"
                        />
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel for="slug" value="Slug" />
                                <SlugInput
                                    v-model="page.slug"
                                    :initial-value="page.slug"
                                ></SlugInput>
                            </div>
                            <div class="input-wrap">
                                <InputLabel
                                    for="key_words"
                                    value="Palavras-chave"
                                />
                                <TextInput
                                    id="key_words"
                                    ref="key_words"
                                    v-model="page.key_words"
                                    type="text"
                                    class=""
                                    placeholder="Digite as palavras-chave"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="meta_description"
                                value="Meta description"
                            />
                            <TextInput
                                id="meta_description"
                                ref="meta_description"
                                v-model="page.meta_description"
                                type="text"
                                class=""
                                placeholder="Digite a meta descrição da página"
                            />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{
                                loading ? "Salvando..." : "Salvar"
                            }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import SlugInput from "@/Components/SlugInput.vue";
const events = ["dragenter", "dragover", "dragleave", "drop"];

function preventDefaults(e) {
    e.preventDefault();
}

export default {
    components: { SlugInput },
    data() {
        return {
            page: Object(),
            loading: false,
        };
    },

    methods: {
        async createPage() {
            try {
                await axios.post(route("pages.store", this.page.id), this.page);
                window.location.href = "/pages";
            } catch (e) {
                console.log(e);
            } finally {
                this.loading = false;
            }
        },
    },
};
</script>
