<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de Páginas" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Páginas</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreatePage">Criar nova
                                página</button></div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Sub-título</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr v-for="page in pages">
                                    <td data-label="Título">
                                        <p>{{ page.title }}</p>
                                    </td>
                                    <td data-label="Sub-título">
                                        <p>{{ page.sub_title }}</p>
                                    </td>
                                    <td data-label="">
                                        <p><a :href="'/pages/' + page.id + '/edit'" class="table-btn edit">Editar</a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchPages(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchPages(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchPages(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchPages(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchPages(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            pages: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            // this.fetchPages(1, newTerm)
        }
    },
    mounted() {
        this.fetchPages()
    },
    methods: {
        redirectToCreatePage: function () {
            window.location.href = "/pages/create"
        },
        fetchPages() {
            this.loading = true
            axios.get("/api/pages")
                .then(response => {
                    this.loading = false
                    this.pages = response.data
                })
                .catch(error => {
                    console.log(error)
                });
        }
    }
}
</script>