<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
    href: {
        type: String,
        required: true,
    },
});
</script>

<template>
    <Link 
    :href="href" 
    class="dropdown-link"
    >   
        <slot />
    </Link>
</template>
