<script setup>
import { defineProps, ref } from "vue";
import { QuillEditor } from "@vueup/vue-quill";
import InputLabel from "@/Components/InputLabel.vue";
import "@vueup/vue-quill/dist/vue-quill.snow.css";
import {
    RichTextToolBar,
    RichTextModules,
} from "./../../utils/richTextConfig.js";

const props = defineProps({ title: String, content: String });
const emit = defineEmits(["update"]);
const quillRef = ref();

function updateContent(content) {
    emit("update", content);
}

function clearText() {
    if (confirm("Você realmente deseja limpar todo o texto?")) {
        emit("update", "");
        quillRef.value.setContents("");
    }
}

function clearFormat() {
    try {
        let content = props.content;
        // remove attributes
        content = content.replace(/<(\w+)[^>]*>/g, "<$1>");
        // remove empty tags
        content = content.replace(/<[^>]*>\s*<\/[^>]*>/g, "");

        emit("update", content);
        quillRef.value.setContents(content);
    } catch (error) {
        console.error(error);
    }
}
</script>

<template>
    <div class="input-wrap">
        <InputLabel for="about" :value="props.title" />
        <button type="button" class="content-tools" @click="clearText">
            Limpar texto
        </button>
        <a
            class="content-tools"
            href="https://wegoout.com.br/recursos"
            target="_blank"
            >Formatar embed</a
        >
        <QuillEditor
            ref="quillRef"
            theme="snow"
            :content="content"
            @update:content="updateContent"
            contentType="html"
            :modules="RichTextModules"
            :toolbar="RichTextToolBar"
        />
        <div class="input-count-char">
            {{ content?.replace(/<[^>]*>?/gm, "").length }}
            caracteres
        </div>
    </div>
</template>
