<script setup>
defineProps({
    value: {
        type: String,
    },
    required: {
        type: Boolean
    }
});
</script>

<template>
    <label class="">
        <span v-if="value">{{ value }} </span><span v-if="required" class="required">*</span>
        <span v-else><slot /></span>
    </label>
</template>
