<script setup>
defineProps({
    name: {
        type: String,
        required: true,
    },
    id: {
        type: String,
        required: true,
    },
});
</script>

<select name="artists[]" id="artists[]" v-model="form.artists" multiple class="select">
    <option v-for="artist in artists" v-bind:value=artist.id>{{ artist.name }}</option>
</select>