<template>
    <div class="notification" :class="notificationClass" v-html="message"> </div>
</template>
<script>
export default {
    props: {
        message: String,
        type: String,
    },
    computed: {
        notificationClass() {
            return this.type === 'success' ? 'success' : 'error';
        },
    },
    mounted() {
        setTimeout(() => {
           // location.reload()
            this.$emit('close');
        }, 3000); 
    },

}
</script>
<style scoped>
.notification {
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    padding: 15px;
    color: #fff;
    z-index: 9999;
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    margin-bottom: 0px;
    width: 400px;
}

.success {
    background-color: #22db52;
}

.error {
    background-color: #ef3232;
}
</style>