<template>
    <input type="text" v-model="inputValue" @input="updateSlug">
  </template>
  
  <script>
  
  export default {
    props: {
    initialValue: {
      type: String,
      default: ''
        }
    },
    data() {
      return {
        inputValue: this.initialValue
      };
    },
    methods: {
      updateSlug() {
        this.inputValue = this.inputValue.toLowerCase()
        .normalize('NFD') 
        .replace(/[\u0300-\u036f]/g, '') 
        .replace(/\s+/g, '-')
        .trim();
      }
    }
  };
  </script>