<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
import Notification from "@/Components/Notification.vue";
</script>

<template>
    <Head title="Criar autor" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Criar autor</h3>
        </template>
        <div class="form-wrap create-author" id="content">
            <Loader v-if="loading" />
            <notification
                v-if="showNotification"
                :message="notificationMessage"
                :type="notificationType"
                @close="hideNotification"
            ></notification>
            <div>
                <div>
                    <form class="form">
                        <div class="input-wrap">
                            <InputLabel
                                for="name"
                                value="Nome"
                                required="true"
                            />
                            <TextInput
                                id="name"
                                ref="nameInput"
                                v-model="author.name"
                                type="text"
                                class=""
                                placeholder="Nome do autor"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="biography" value="Sobre o autor" />
                            <textarea
                                id="biography"
                                v-model="author.biography"
                                type="text"
                                class=""
                                placeholder="Escreva aqui a biografia do autor"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="Posição" value="Cargo" />
                            <select
                                name="position"
                                id="position"
                                v-model="author.position"
                                class="select"
                            >
                                <option value="">Sem cargo</option>
                                <option
                                    v-for="position in positions"
                                    :value="position"
                                >
                                    {{ position }}
                                </option>
                            </select>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="social_media"
                                value="Redes sociais"
                            />
                            <div
                                class="sub-input-wrap"
                                v-for="(field, index) in socialMediaFields"
                                :key="index"
                            >
                                <div class="double-input">
                                    <div class="input-wrap">
                                        <select
                                            v-model="
                                                field.pivot.social_media_id
                                            "
                                            class=""
                                        >
                                            <option
                                                v-for="socialMedia in social_media"
                                                :value="socialMedia.id"
                                            >
                                                {{ socialMedia.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-wrap">
                                        <TextInput
                                            type="text"
                                            v-model="field.pivot.link"
                                            placeholder="Link"
                                        />
                                    </div>
                                </div>
                                <div class="btn-wrap">
                                    <button
                                        class="remove-items"
                                        @click="removeSocialMediaLink(index)"
                                    >
                                        Remover
                                    </button>
                                </div>
                            </div>
                            <button
                                class="add-items"
                                @click="addSocialMediaLink"
                            >
                                Adiciona rede
                            </button>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="image"
                                value="Imagem destacada"
                                required="true"
                            />
                            <PrimaryButton
                                v-if="previewImageUrl"
                                @click.stop.prevent="removeImage"
                                class="remove-img-btn"
                            >
                                Remover Imagem</PrimaryButton
                            >
                            <div class="img-input-wrap">
                                <div class="upload-label">
                                    <img src="/images/img-upload.svg" alt="" />
                                    <p>
                                        Clique aqui para adicionar uma imagem.
                                    </p>
                                </div>
                                <input
                                    type="file"
                                    ref="imageInput"
                                    @change="previewImage"
                                />
                                <img
                                    v-if="previewImageUrl"
                                    :src="previewImageUrl"
                                    alt="Imagem do Evento"
                                    class="img-upload"
                                />
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton
                                @click.prevent="submitForm"
                                :disabled="loading"
                                >{{
                                    loading ? "Salvando..." : "Salvar"
                                }}</PrimaryButton
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        positions: { type: Array },
    },
    data() {
        return {
            author: Object(),
            socialMediaFields: [],
            social_media: [],
            previewImageUrl: "",
            loading: false,
            showNotification: false,
        };
    },
    mounted() {
        this.fetchSocialMedia();
    },
    methods: {
        fetchSocialMedia() {
            axios
                .get("/api/socialMedia")
                .then((response) => {
                    this.social_media = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        addSocialMediaLink() {
            event.preventDefault();
            this.socialMediaFields.push({
                id: null,
                name: "",
                icon: "",
                pivot: { author_id: 1, social_media_id: 2, link: "" },
            });
        },
        removeSocialMediaLink(index) {
            event.preventDefault();
            this.socialMediaFields.splice(index, 1);
        },
        removeImage() {
            this.previewImageUrl = null;
        },
        async createAuthor() {
            try {
                this.loading = true;
                this.author.social_media = this.socialMediaFields.map((x) => {
                    return {
                        social_media_id: x.pivot.social_media_id,
                        link: x.pivot.link,
                    };
                });
                const fileInput = this.$refs.imageInput;
                if (fileInput.files.length > 0) {
                    this.author.image = "http://wegoout.com.br";
                }
                const response = await axios.post(
                    route("authors.store", this.author),
                    this.author
                );
                return response.data;
            } catch (e) {
                this.showNotification = true;
                this.notificationMessage = e.response.data.message;
                this.notificationType = "error";
            } finally {
                this.loading = false;
            }
        },
        async submitForm() {
            const storedAuthor = await this.createAuthor();
            this.author.id = storedAuthor.id;
            await this.handleImageUpload(storedAuthor.id);
            await this.updateAuthor();
        },
        previewImage() {
            const fileInput = this.$refs.imageInput;
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previewImageUrl = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                this.previewImageUrl = null;
            }
        },
        async handleImageUpload(authorId) {
            const fileInput = this.$refs.imageInput;
            const file = fileInput.files[0];
            if (!file) {
                this.author.image = null;
                return null;
            }
            const formData = new FormData();
            formData.append("image", file);
            formData.append("filePath", "authors/" + authorId);
            this.loading = true;
            try {
                const response = await axios.post("/upload-image", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                });
                this.author.image = response.data;
                // this.updateAuthor()
            } catch (error) {
                console.error(error);
                alert(
                    "Conteúdo salvo, mas com problema na imagem. Retorne para listagem e edite o conteúdo novamente."
                );
                window.location.replace("/authors");
            } finally {
                this.loading = false;
            }
        },
        async updateAuthor() {
            this.loading = true;
            try {
                await axios.put(
                    route("authors.update", this.author),
                    this.author
                );
                window.location.href = "/authors";
            } catch (e) {
                this.showNotification = true;
                this.notificationMessage = e.response.data.message;
                this.notificationType = "error";
            } finally {
                this.loading = false;
            }
        },
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = "";
            this.notificationType = "";
        },
    },
};
</script>
