<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Pagination from '@/Components/Pagination.vue'
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de artistas" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Autores</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateAuthor">Criar novo
                                autor</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Cargo</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="author in authors">
                                    <td data-label="ID">
                                        <p>{{ author.id }}</p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ author.name }}</p>
                                    </td>
                                    <td data-label="Cidade / Estado / País">
                                        <p>{{ author.position }}</p>
                                    </td>
                                    <td data-label="">
                                        <p>
                                            <a :href="'/authors/' + author.id + '/edit'" class="table-btn edit"></a>
                                            <button v-if="author.news_count < 1" class="table-btn delete" v-on:click="deleteAuthor(author)"></button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchAuthors(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchAuthors(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchAuthors(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchAuthors(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchAuthors(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            authors: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchAuthors(1, newTerm)
        }
    },
    mounted() {
        this.fetchAuthors(this.page, '')
    },
    methods: {
        redirectToCreateAuthor: function () {
            window.location.href = "/authors/create"
        },
        fetchAuthors(page, search) {
            this.loading = true
            axios.get("/api/authors?page=" + page + "&name=" + search)
                .then(response => {
                    this.loading = false
                    this.authors = response.data.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                    // console.log(response.data)
                })
                .catch(error => {
                    console.log(error)
                });
        },
        deleteAuthor: function (author) {
            if (confirm('Deseja excluir o autor?')) {
                this.loading = true
                axios.delete(route('authors.destroy', author.id), author)
                    .then(response => {
                        this.fetchAuthors(this.page, '')
                    })
                    .catch(error => {
                        console.log(error)
                    })

                this.loading = false
            }

        },
    }
}
</script>
