<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Pagination from '@/Components/Pagination.vue'
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de artistas" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Autores</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="addRole">Criar novo cargo</button>
                        </div>
                        <div class="float-left">
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>Cargo</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="role in roles">
                                    <td data-label="ID"><input v-model="role.name" /></td>
                                    <td data-label="">
                                        <button class="table-btn delete" v-on:click="deleteRole(role)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="main-btn" v-on:click="saveRoles" :disabled="loading">{{loading ? "Salvando...": "Salvar" }}</button>
                    </div>
                </div>
            </div>
        </div>

    </AuthenticatedLayout>
</template>
<script>
export default {
    props: {
        rolesAuthors: {
            type: Array
        }
    },
    data() {
        return {
            roles: this.rolesAuthors,
            loading: false
        }

    },
    methods: {
        addRole() {
            this.roles.push(new Object())
        },
        async deleteRole(role) {
            if (confirm('Deseja excluir o cargo?')) {
                this.loading = true
                try {
                    await axios.delete(route('roleAuthor.destroy', role.id), role)
                } catch (error) {
                    alert('Erro ao remover o cargo')
                    console.log(error)
                } finally {
                    window.location.reload
                    this.fetchRolesAuthor()
                    this.loading = false
                }
            }
        },
        fetchRolesAuthor() {
            this.loading = true
            axios.get("/api/roleAuthor")
                .then(response => {
                    this.loading = false
                    this.roles = response.data
                })
                .catch(error => {
                    console.log(error)
                });
        },
        async saveRoles() {
            this.loading = true

            try {
                const existingRoles = this.roles.filter((role) => role.id);
                const newRoles = this.roles.filter((role) => !role.id);

                const updateRoles = existingRoles.map((role) => {
                    return axios.put(`/roleAuthor/${role.id}`, role);
                });

                const createRoles = newRoles.map((role) => {
                    return axios.post(`/roleAuthor`, role);
                });

                Promise.all([...updateRoles, ...createRoles])
                    .then(() => {
                        this.loading = false;
                        window.location.reload
                        alert('Cargos atualizados e criados com sucesso!');
                    })
                    .catch((error) => {
                        this.loading = false;
                        window.location.reload
                        alert('Erro ao atualizar/criar cargos');
                        console.error(error);
                    });

            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }




        }
    }
}
</script>