<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Editar Redirect" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar Redirect</h3>
        </template>

        <div class="form-wrap edit-together-type small-form" id="content">
            <Loader v-if="loading" />
            <div>
                <div>
                    <form @submit.prevent="updateRedirect" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="De" />
                            <TextInput id="name" ref="name" v-model="redirect.from_url" type="text" class=""
                                placeholder="de" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="name" value="Para" />
                            <TextInput id="name" ref="name" v-model="redirect.to_url" type="text" class=""
                                placeholder="para" />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        redirect: {
            type: Object,
            required: true

        },
    },
    methods: {
        async updateRedirect() {
            this.loading = true
            try {
                await axios.put(route('redirects.update', this.redirect.id), this.redirect)
                window.location.href = '/redirects'
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
