<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de redirects" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Redirects</h3>
        </template>

        <div class="main-content">
            <div v-if="loading" class="loading">Loading...</div>
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateRedirect">Criar
                                novo
                                redirect</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table" v-if="redirects.length > 0">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>De</th>
                                    <th>Para</th>
                                </tr>
                            </thead>
                            <tbody class=" ">

                                <tr v-for="redirect in redirects">
                                    <td data-label="ID">
                                        <p>{{ redirect.from_url }}</p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ redirect.to_url }}</p>
                                    </td>
                                    <td data-label="">
                                        <p>
                                            <a :href="'/redirects/' + redirect.id + '/edit'" class="table-btn edit"></a>
                                            <button class="table-btn delete"
                                                v-on:click="deleteMassiveRedirect(redirect)"></button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchRedirects(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchRedirects(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchRedirects(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchRedirects(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchRedirects(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            redirects: [],
            loading: false,
            searchTerm: '',
            currentPage: 1,
            lastPage: 1,
        }
    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchRedirects(1, newTerm)
        }
    },
    mounted() {
        this.fetchRedirects(this.page, '')
    },
    methods: {
        redirectToCreateRedirect: function () {
            window.location.href = "/redirects/create"
        },
        async fetchRedirects(page, search) {
            this.loading = true
            try {
                const response = await axios.get("/api/redirects?page=" + page + "&from_url=" + search)
                this.redirects = response.data.data
                this.pagination = response.data.links
                this.currentPage = response.data.current_page;
                this.lastPage = response.data.last_page;
            } catch (error) {
                console.log(error)
            } finally {
                this.loading = false
            }
        },
        async deleteMassiveRedirect(massiveRedirect) {
            if (confirm('Deseja excluir o redirect?')) {
                try {
                    const response = await axios.delete(route('redirects.destroy', massiveRedirect.id), massiveRedirect)
                } catch (e) {
                    console.log(e)
                } finally {
                    this.fetchRedirects(this.page, '')
                    this.loading = false
                }
            }
        }
    }
}
</script>