<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Editar tipo de destaque" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar tipo de destaque</h3>
        </template>

        <div class="form-wrap edit-highlight-type small-form" id="content">
            <Loader v-if="loading" />
            <div>
                <div>
                    <form @submit.prevent="updateHighlight" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome do destaque" />
                            <TextInput id="name" ref="name" v-model="highlight.name" type="text" class=""
                                placeholder="Adicione o nome do destaque" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="icon" value="Icon do destaque" />
                            <TextInput id="icon" ref="icon" v-model="highlight.icon" type="text" class=""
                                placeholder="Adicione a url do icon do destaque" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="status" value="Status" />
                            <select name="status" id="status" v-model="highlight.status" class="select">
                                <option :value="0">Desativado</option>
                                <option :value="1">Ativo</option>
                            </select>
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        highlight: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            types: [],
            selectedType: this.highlight.type_id,
            loading: false
        };
    },
    methods: {
        async updateHighlight() {
            this.loading = true
            try {
                delete this.highlight.type
                this.highlight.type_id = this.selectedType
                await axios.put(route('highlightsTypes.update', this.highlight.id), this.highlight)
                window.location.href = '/highlightsTypes'
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
