<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
</script>

<template>
    

    <Head title="Lista de categorias de destaques" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de categorias de destaques</h3>
        </template>
        
        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateHighlight">Criar nova categoria</button></div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Ícone</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="highlight in highlights" >
                                    <td data-label="ID"><p>{{ highlight.id }}</p></td>
                                    <td data-label="Nome"><p>{{ highlight.name }}</p></td>
                                    <td data-label="Ícone"><p>{{ highlight.icon }}</p></td>
                                    <td data-label=""><p><a :href="'/highlightsTypes/' + highlight.id + '/edit'" class="table-btn edit"></a></p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        
                    </div>
                    <div class="pagination">
                        <button v-for="index in lastPage" :key="index" @click="fetchHighlights(index, searchTerm)" class="pagination-btn" :class="{ 'current': currentPage == index }">
                            {{ index }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return{
            highlights: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            loading: false
        }
        
    },
    mounted() {
        this.fetchHighlights(this.page, '')
    },  
    methods: {
        redirectToCreateHighlight: function() {
            window.location.href = "/highlightsTypes/create"
        },
        fetchHighlights(page, search) {
            this.loading = true
            axios.get("/api/highlightsTypes")
                .then(response => {
                    this.loading = false
                    this.highlights = response.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                })
                .catch(error => {
                    console.log(error)
                });
            this.loading = true
        }
    }
}
</script>