<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import Editor from "@/Components/Editor.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
</script>

<template>
    <Head title="Editar evento" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar evento</h3>
        </template>
        <div class="form-wrap edit-event" id="content">
            <Loader v-if="loading" />
            <notification
                v-if="showNotification"
                :message="notificationMessage"
                :type="notificationType"
                @close="hideNotification"
            ></notification>
            <div>
                <div>
                    <form @submit.prevent="updateEvent" class="form">
                        <div class="input-wrap">
                            <InputLabel
                                for="name"
                                value="Nome do evento"
                                required="true"
                            />
                            <a
                                class="view-content"
                                :href="`https://wegoout.com.br/eventos/${getFinalSlug(
                                    evento.slug
                                )}`"
                                target="_blank"
                                >Ver conteúdo</a
                            >
                            <TextInput
                                id="name"
                                v-model="evento.name"
                                type="text"
                                class="input-text"
                                placeholder="Adicione o nome do evento"
                            />
                            <div class="input-count-char">
                                {{ evento.name?.length }} caracteres
                            </div>
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="slug"
                                    value="Slug"
                                    required="true"
                                />
                                <SlugInput
                                    v-model="evento.slug"
                                    :initial-value="evento.slug"
                                ></SlugInput>
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="is_main" value="Destaque" />
                                <VueMultiselect
                                    v-model="selectedIsMain"
                                    :options="booleanOptions"
                                    name="is_main"
                                    id="is_main"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Marcar como destaque?"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                        </div>

                        <div class="input-wrap">
                            <InputLabel
                                for="search_terms"
                                value="Usuários encontrarão este conteúdo ao pesquisar por"
                            />
                            <TextInput
                                id="search_terms"
                                v-model="evento.search_terms"
                                type="text"
                                class="input-text"
                                placeholder="Termos para pesquisa"
                            />
                        </div>

                        <div class="subtitle">
                            <p>Informações básicas</p>
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="start_date"
                                    value="Data de início"
                                    required="true"
                                />
                                <input
                                    type="datetime-local"
                                    id="start_date"
                                    v-model="evento.start_date"
                                    defaultValue="evento.start_date"
                                    class="input-text"
                                    max="9999-12-31T23:59"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel
                                    for="end_date"
                                    value="Data de fim"
                                    required="true"
                                />
                                <input
                                    type="datetime-local"
                                    id="end_date"
                                    v-model="evento.end_date"
                                    class="input-text"
                                    max="9999-12-31T23:59"
                                />
                            </div>
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="event_type_id"
                                    value="Categoria"
                                    required="true"
                                />
                                <VueMultiselect
                                    v-model="selectedEventType"
                                    :options="eventTypes"
                                    name="event_type"
                                    id="event_type"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Selecione a categoria do evento"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="local" value="Local" />
                                <VueMultiselect
                                    v-model="selectedLocation"
                                    :options="locations"
                                    name="location"
                                    id="location"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Selecione o local do evento"
                                    label="label"
                                    track-by="name"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="image"
                                value="Imagem destacada"
                                required="true"
                            />
                            <PrimaryButton
                                v-if="evento.image"
                                @click.stop.prevent="removeImage"
                                class="remove-img-btn"
                            >
                                Remover Imagem</PrimaryButton
                            >
                            <div class="img-input-wrap">
                                <div class="upload-label">
                                    <img src="/images/img-upload.svg" alt="" />
                                    <p>
                                        Clique aqui para adicionar uma imagem.
                                    </p>
                                </div>
                                <input
                                    type="file"
                                    ref="imageInput"
                                    @change="previewImage"
                                />
                                <img
                                    v-if="previewImageUrl"
                                    :src="previewImageUrl"
                                    alt="Imagem do Evento"
                                    class="img-upload"
                                />
                            </div>
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="has_discount"
                                    value="Tem desconto?"
                                />
                                <VueMultiselect
                                    v-model="selectedHasDiscount"
                                    :options="booleanOptions"
                                    name="has_discount"
                                    id="has_discount"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Tem desconto?"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="cupom" value="Cupom" />
                                <TextInput
                                    id="cupom"
                                    v-model="evento.coupon_code"
                                    type="text"
                                    class="input-text"
                                    placeholder="Código de cupom"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="tickets_link"
                                value="Link dos ingressos"
                            />
                            <TextInput
                                id="slug"
                                v-model="evento.tickets_link"
                                type="text"
                                class="input-text"
                                placeholder="Adicione o link dos ingressos"
                            />
                        </div>
                        <Editor
                            title="Sobre o evento"
                            :content="evento.about"
                            @update="(value) => (evento.about = value)"
                        />
                        <div class="input-wrap">
                            <InputLabel
                                for="guide_link"
                                value="Link para o guia do evento"
                            />
                            <TextInput
                                id="guide_link"
                                v-model="evento.guide_link"
                                type="text"
                                class="input-text"
                                placeholder="Guia do evento"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel value="Artistas do evento" />
                            <VueMultiselect
                                v-model="selectedArtists"
                                :options="artistsFit"
                                :multiple="true"
                                :close-on-select="true"
                                placeholder="Adicione artistas ao evento"
                                label="name"
                                track-by="name"
                                hideSelected
                            />
                        </div>
                        <div class="subtitle">
                            <p>Informações complementares</p>
                        </div>
                        <Editor
                            title="Sobre os ingressos"
                            :content="evento.price"
                            @update="(value) => (evento.price = value)"
                        />
                        <div class="input-wrap">
                            <InputLabel for="host_links" value="Link do host" />
                            <div
                                class="sub-input-wrap"
                                v-for="(host_link, index) in host_links"
                                :key="index"
                            >
                                <div class="input-wrap">
                                    <InputLabel
                                        for="host_name"
                                        value="Nome do host:"
                                    />
                                    <TextInput
                                        id="host_name"
                                        type="text"
                                        v-model="host_link.title"
                                        class="input-text"
                                        placeholder="Insira o nome do host"
                                    />
                                </div>
                                <div class="input-wrap">
                                    <InputLabel
                                        for="host_link"
                                        value="Link do host:"
                                    />
                                    <TextInput
                                        id="host_link"
                                        type="text"
                                        v-model="host_link.link"
                                        class="input-text"
                                        placeholder="Insira o link do host"
                                    />
                                </div>
                                <div class="input-wrap">
                                    <InputLabel
                                        for="host_description"
                                        value="Descrição"
                                    />
                                    <TextInput
                                        id="host_description"
                                        type="text"
                                        v-model="host_link.description"
                                        class="input-text"
                                        placeholder="Descrição do host"
                                    />
                                </div>
                                <div class="btn-wrap">
                                    <div
                                        class="remove-items"
                                        @click="removeHostLink(index)"
                                    >
                                        Remover
                                    </div>
                                </div>
                            </div>
                            <div class="add-items" @click="addHostLink">
                                Adicionar host
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="togethers" value="Togethers" />
                            <VueMultiselect
                                v-model="selectedTogethers"
                                :options="togethers"
                                :multiple="true"
                                :close-on-select="true"
                                placeholder="Escolha um Together"
                                label="name"
                                track-by="name"
                                hideSelected
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="playlist"
                                value="Embed da playlist do festival"
                            />
                            <TextInput
                                id="playlist"
                                type="text"
                                v-model="evento.playlist"
                                class="input-text"
                                placeholder="Adicione o link da playlist do festival"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="FAQ" value="FAQ" />
                            <div
                                class="sub-input-wrap"
                                v-for="(faq, index) in FAQ"
                                :key="index"
                            >
                                <div class="input-wrap">
                                    <InputLabel
                                        for="question"
                                        value="Pergunta:"
                                    />
                                    <TextInput
                                        id="question"
                                        type="text"
                                        v-model="faq.ask"
                                        class="input-text"
                                        placeholder="Escreva a pergunta"
                                    />
                                </div>
                                <div class="input-wrap">
                                    <InputLabel for="reply" value="Resposta:" />
                                    <TextInput
                                        id="reply"
                                        type="text"
                                        v-model="faq.answer"
                                        class="input-text"
                                        placeholder="Escreva a resposta"
                                    />
                                </div>
                                <div class="btn-wrap">
                                    <div
                                        class="remove-items"
                                        @click="removeFAQ(index)"
                                    >
                                        Remover
                                    </div>
                                </div>
                            </div>
                            <div class="add-items" @click="addFAQ">
                                Adicionar FAQ
                            </div>
                        </div>
                        <Editor
                            title="Mais detalhes"
                            :content="evento.details"
                            @update="(value) => (evento.details = value)"
                        />
                        <div class="input-wrap">
                            <InputLabel value="Review do evento" />
                            <VueMultiselect
                                v-model="selectedReview"
                                :options="reviewsList"
                                name="review"
                                id="review"
                                class="single-select"
                                :close-on-select="true"
                                :allow-empty="true"
                                placeholder="Adicione Review do evento"
                                label="name"
                                track-by="name"
                                @search-change="fetchReviewOptions"
                            />
                        </div>
                        <div class="subtitle">
                            <p>Organizador</p>
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="organizer"
                                    value="Nome da agência produtora do evento"
                                />
                                <TextInput
                                    id="organizer"
                                    v-model="evento.organizer"
                                    type="text"
                                    class="input-text"
                                    placeholder="Digite o nome da produtora do evento"
                                />
                            </div>

                            <div class="input-wrap">
                                <InputLabel
                                    for="organizer_url"
                                    value="URL do site ou rede social da produtora"
                                />
                                <TextInput
                                    id="organizer_url"
                                    v-model="evento.organizer_url"
                                    type="text"
                                    class="input-text"
                                    placeholder="Digite o endereço do site ou rede social"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="organizer_name"
                                value="Nome do responsável"
                            />
                            <TextInput
                                id="organizer_name"
                                v-model="evento.organizer_name"
                                type="text"
                                class="input-text"
                                placeholder="Insira o nome completo do responsável"
                            />
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="organizer_email"
                                    value="Email para contato"
                                />
                                <TextInput
                                    id="organizer_email"
                                    v-model="evento.organizer_email"
                                    type="text"
                                    class="input-text"
                                    placeholder="Email do organizador do evento"
                                />
                            </div>

                            <div class="input-wrap">
                                <InputLabel
                                    for="organizer_phone"
                                    value="Whatsapp"
                                />
                                <TextInput
                                    id="organizer_phone"
                                    v-model="evento.organizer_phone"
                                    type="text"
                                    class="input-text"
                                    placeholder="Telefone do organizador"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="organizer_description"
                                value="Links úteis"
                            />
                            <TextInput
                                id="organizer_description"
                                v-model="evento.organizer_description"
                                type="text"
                                class="input-text"
                                placeholder="Adicione aqui os links separados por vírgula."
                            />
                        </div>
                        <div class="subtitle">
                            <p>SEO</p>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="meta_description"
                                value="Meta description"
                                required="true"
                            />
                            <TextInput
                                id="meta_description"
                                type="text"
                                v-model="evento.meta_description"
                                class="input-text"
                                placeholder="Meta descrição"
                            />
                            <div class="input-count-char">
                                {{ evento.meta_description?.length }} caracteres
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="keywords"
                                value="Palavras-chave"
                                required="true"
                            />
                            <TextInput
                                id="keywords"
                                type="text"
                                v-model="evento.keywords"
                                class="input-text"
                                placeholder="Adicione palavras chave para esse evento"
                            />
                            <div class="input-count-char">
                                {{ evento.keywords?.length }} caracteres
                            </div>
                        </div>
                        <div class="subtitle"><p>Data e status</p></div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="publish_date"
                                    value="Data de publicação"
                                    required="true"
                                />
                                <input
                                    type="datetime-local"
                                    id="publish_date"
                                    v-model="evento.publish_date"
                                    class="input-text"
                                    max="9999-12-31T23:59"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="is_draft" value="Rascunho" />
                                <VueMultiselect
                                    v-model="selectedIsDraft"
                                    :options="booleanOptions"
                                    name="is_draft"
                                    id="is_draft"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Marcar como rascunho?"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                        </div>
                        <div class="btn-wrap">
                            Evento criado pelo
                            {{
                                evento.created_by ? evento.created_by : "admin"
                            }}
                            <PrimaryButton
                                @click.prevent="submitForm"
                                :disabled="loading"
                                >{{
                                    loading ? "Salvando..." : "Salvar"
                                }}</PrimaryButton
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import SlugInput from "@/Components/SlugInput.vue";

export default {
    components: { VueMultiselect, SlugInput },
    props: {
        evento: {
            type: Object,
            required: true,
        },
        togethers: {
            type: Array,
        },
        locations: {
            type: Array,
        },
        cities: {
            type: Array,
        },
        artists: {
            type: Array,
        },
        events: {
            type: Array,
        },
        review: {
            type: Array,
        },
        eventTypes: {
            type: Array,
        },
    },
    data() {
        return {
            selectedArtists: this.evento.artists
                ? this.evento.artists.map((x) => {
                      return { id: x.id, name: x.name };
                  })
                : [],
            selectedTogethers: this.evento.togethers
                ? this.evento.togethers.map((x) => {
                      return { id: x.id, name: x.name };
                  })
                : [],
            selectedLinkedEvents: this.evento.linked_events
                ? this.evento.linked_events.map((x) => {
                      return { id: x.id, name: x.name };
                  })
                : [],
            selectedIsDraft: this.evento.is_draft
                ? { name: "Sim", id: 1 }
                : { name: "Não", id: 0 },
            selectedIsMain: this.evento.is_main
                ? { name: "Sim", id: 1 }
                : { name: "Não", id: 0 },
            selectedHasDiscount:
                this.evento.has_discount == 1
                    ? { name: "Sim", id: 1 }
                    : { name: "Não", id: 0 },
            selectedLocation: this.locations.filter(
                (x) => x.id === this.evento.location_id
            ),
            selectedReview:
                this.review !== null
                    ? { id: this.review.id, name: this.review.title }
                    : [],
            selectedEventType: this.eventTypes
                ? this.eventTypes
                      .filter((x) => x.id === this.evento.event_type_id)
                      .map((x) => {
                          return { id: x.id, name: x.name };
                      })[0]
                : [],
            value: [],
            genres: [],
            booleanOptions: [
                { name: "Não", id: 0 },
                { name: "Sim", id: 1 },
            ],
            loading: false,
            host_links:
                this.evento.host_links != null ? this.evento.host_links : [],
            FAQ: this.evento.FAQ != null ? this.evento.FAQ : [],
            previewImageUrl: this.evento.image,
            newImage: false,
            showNotification: false,
            reviewsList: [],
            searchQuery: "",
            artistsFit: this.artists.filter((i) => i.is_draft != 1),
        };
    },

    mounted() {
        this.locations.forEach((location) => {
            location.label = `${location.name} - ${location.city.name} - (${location.city.state.abbr})`;
        });
        this.fetchReviewOptions();
    },
    methods: {
        addHostLink() {
            this.host_links.push({ title: "", link: "" });
        },
        removeHostLink(index) {
            this.host_links.splice(index, 1);
        },
        addFAQ() {
            this.FAQ.push({ ask: "", answer: "" });
        },
        removeFAQ(index) {
            this.FAQ.splice(index, 1);
        },
        removeImage() {
            this.newImage = true;
            this.previewImageUrl = null;
            this.evento.image = null;
        },
        previewImage() {
            const fileInput = this.$refs.imageInput;
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previewImageUrl = e.target.result;
                };
                this.newImage = true;
                reader.readAsDataURL(file);
            } else {
                this.previewImageUrl = null;
                this.newImage = false;
            }
        },
        getFinalSlug(slug) {
            if (slug) {
                return slug
                    .toLowerCase()
                    .normalize("NFD")
                    .replace(/[\u0300-\u036f]/g, "")
                    .replace(/\s+/g, "-");
            }
        },
        async submitForm() {
            this.newImage && (await this.handleImageUpload());
            await this.updateEvent();
        },
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = "";
            this.notificationType = "";
        },

        async updateEvent() {
            this.loading = true;
            try {
                this.evento.artists = this.selectedArtists
                    .map((x) => x.id)
                    .flat();
                this.evento.togethers = this.selectedTogethers
                    .map((x) => x.id)
                    .flat();
                this.evento.host_links = this.host_links;
                this.evento.FAQ = this.FAQ;
                this.evento.is_draft = this.selectedIsDraft.id;
                this.evento.location_id = this.selectedLocation.id;
                this.evento.review_id =
                    this.selectedReview !== null
                        ? this.selectedReview.id
                        : null;

                this.evento.event_type_id = this.selectedEventType.id;
                this.evento.linked_events = this.selectedLinkedEvents
                    .map((x) => x.id)
                    .flat();
                this.evento.has_discount = this.selectedHasDiscount.id;
                this.evento.details =
                    this.evento.details === "<p><br></p>"
                        ? ""
                        : this.evento.details;
                this.evento.about =
                    this.evento.about === "<p><br></p>"
                        ? ""
                        : this.evento.about;
                this.evento.price =
                    this.evento.price === "<p><br></p>"
                        ? ""
                        : this.evento.price;
                this.evento.is_main = this.selectedIsMain.id;

                await axios.put(
                    route("events.update", this.evento.id),
                    this.evento
                );

                this.showNotification = true;
                this.notificationMessage = "Conteúdo salvo";
                this.notificationType = "success";
            } catch (e) {
                this.showNotification = true;
                this.notificationMessage =
                    e.response.data.message || e.response.data.error;
                this.notificationType = "error";
            } finally {
                this.loading = false;
            }
        },
        async handleImageUpload() {
            const fileInput = this.$refs.imageInput;
            const file = fileInput.files[0];
            // const file = event.target.files[0]
            const formData = new FormData();
            formData.append("image", file);
            formData.append("filePath", "events/" + this.evento.id);
            this.loading = true;
            try {
                const response = await axios.post("/upload-image", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                });
                this.evento.image = response.data;
            } catch (error) {
                console.error(error);
                alert(
                    "Conteúdo salvo, mas com problema na imagem. Retorne para listagem e edite o conteúdo novamente."
                );
                window.location.replace("/events");
            } finally {
                this.loading = false;
            }
        },
        async fetchReviewOptions(searchQuery) {
            try {
                this.isLoading = true;
                const response = await axios.get("/api/news", {
                    params: {
                        name: searchQuery,
                    },
                });
                let tempReviewsList = response.data.data;
                tempReviewsList.forEach((review) => {
                    review.name = `${review.title}`;
                });
                this.reviewsList = tempReviewsList;
                // this.reviewsList = response.data.data;
                // this.reviewsList.forEach(review => {
                // review.name = `${review.title}`;
                // });
            } catch (error) {
                console.error("Erro ao buscar opções de review:", error);
            } finally {
                this.isLoading = false;
            }
        },
    },
};
</script>
