<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import { Head, router } from "@inertiajs/vue3";
import TextInput from "@/Components/TextInput.vue";
import InputLabel from "@/Components/InputLabel.vue";
import Pagination from "@/Components/Pagination.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { watch } from "vue";
import { ref } from "vue";
import axios from "axios";
</script>

<template>
    <Head title="Lista de eventos" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Eventos</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap">
                            <button
                                class="main-btn"
                                v-on:click="redirectToCreateEvent"
                            >
                                Criar novo evento
                            </button>
                        </div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput
                                v-model="searchTerm"
                                placeholder="Filtrar por nome..."
                            />
                        </div>
                    </div>
                    <div class="tabs-wrap">
                        <div
                            class="tab"
                            v-for="(filterValue, index) in filters"
                            v-on:click="changeFilter(filterValue)"
                            :class="{ active: filterValue == selectedFilter }"
                        >
                            {{ filterValue }}
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <Loader v-if="loading" />
                        <table class="table" v-if="eventos.length > 0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Imagem</th>
                                    <th>Nome</th>
                                    <th>Categoria</th>
                                    <th>Local</th>
                                    <th>Data</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="evento in eventos" :key="evento.id">
                                    <td data-label="ID">
                                        <p>{{ evento.id }}</p>
                                    </td>
                                    <td data-label="Imagem">
                                        <p><img :src="evento.image" /></p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ evento.name }}</p>
                                    </td>
                                    <td data-label="Categoria" class="category">
                                        <p>
                                            <span
                                                class="tag"
                                                :event-type="
                                                    evento.event_type?.id
                                                "
                                                :class="{
                                                    festival:
                                                        evento.event_type
                                                            ?.name ===
                                                        'Festival',
                                                    festa:
                                                        evento.event_type
                                                            ?.name === 'Festa',
                                                    show:
                                                        evento.event_type
                                                            ?.name === 'Show',
                                                    feira:
                                                        evento.event_type
                                                            ?.name === 'Feira',
                                                    conferencia:
                                                        evento.event_type
                                                            ?.name ===
                                                        'Conferência',
                                                }"
                                                >{{
                                                    evento.event_type?.name
                                                }}</span
                                            >
                                        </p>
                                    </td>
                                    <td data-label="Local">
                                        <p>{{ evento.location?.name }}</p>
                                    </td>
                                    <td data-label="Data">
                                        <p>{{ evento.start_date }}</p>
                                    </td>
                                    <td data-label="Ação">
                                        <p>
                                            <template
                                                v-if="
                                                    selectedFilter !==
                                                    'excluidos'
                                                "
                                            >
                                                <a
                                                    :href="
                                                        '/events/' +
                                                        evento.id +
                                                        '/edit'
                                                    "
                                                    class="table-btn edit"
                                                ></a>
                                                <a
                                                    :href="
                                                        'https://www.wegoout.com.br/eventos/' +
                                                        evento.slug
                                                    "
                                                    class="table-btn view"
                                                    target="_blank"
                                                ></a>
                                                <button
                                                    class="table-btn delete"
                                                    v-on:click="
                                                        delEvento(evento)
                                                    "
                                                ></button>
                                                <button
                                                    class="table-btn activate"
                                                    v-if="evento.is_draft"
                                                    v-on:click="
                                                        activateEvento(evento)
                                                    "
                                                ></button>
                                            </template>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="no-results" v-else>
                            <p>Nenhum evento encontrado</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button
                    v-if="currentPage > 1"
                    @click="fetchEvents(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"
                ></button>
                <template v-if="currentPage > 3">
                    <button
                        @click="fetchEvents(1, searchTerm)"
                        class="pagination-btn"
                    >
                        1
                    </button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template
                        v-if="
                            index >= currentPage - 2 && index <= currentPage + 2
                        "
                    >
                        <button
                            @click="fetchEvents(index, searchTerm)"
                            class="pagination-btn"
                            :class="{ current: currentPage == index }"
                        >
                            {{ index }}
                        </button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchEvents(lastPage, searchTerm)">
                        {{ lastPage }}
                    </button>
                </template>
                <button
                    v-if="currentPage < lastPage"
                    @click="fetchEvents(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"
                ></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            eventos: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: "",
            loading: false,
            selectedFilter: "publicados",
            filters: [
                "publicados",
                "excluidos",
                "rascunhos",
                "agendados",
                "enviados pelo site",
            ],
        };
    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchEvents(1, newTerm);
        },
        selectedFilter(newTerm, oldTerm) {
            this.fetchEvents(1, this.searchTerm);
        },
    },
    mounted() {
        this.fetchEvents(this.page, "");
    },
    methods: {
        changeFilter(filterValue) {
            this.selectedFilter = filterValue;
        },
        redirectToCreateEvent: function () {
            this.loading = true;
            window.location.href = "/events/create";
        },
        activateEvento: function (evento) {
            this.loading = true;
            axios
                .post(route("event.activate", evento.id), evento)
                .then((response) => {
                    this.fetchEvents(this.page, "");
                })
                .catch((error) => {
                    console.log(error);
                });

            this.loading = false;
        },
        delEvento: function (evento) {
            if (confirm("Deseja excluir o evento?")) {
                this.loading = true;
                axios
                    .delete(route("events.destroy", evento.id), evento)
                    .then((response) => {
                        this.fetchEvents(this.page, "");
                    })
                    .catch((error) => {
                        console.log(error);
                    });

                this.loading = false;
            }
        },
        fetchEvents(page, search) {
            this.loading = true;
            axios
                .get(
                    "/api/events?sortedBy=publish_date&sorted=DESC&page=" +
                        page +
                        "&name=" +
                        search +
                        "&adminFilters=" +
                        this.selectedFilter
                )
                .then((response) => {
                    this.loading = false;
                    this.eventos = response.data.data;
                    this.pagination = response.data.links;
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                    console.log(response.data);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>
