<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
import axios from 'axios';


const props = defineProps({
    siteData: {
        type: Array
    }
})

const getName = (name) => {
    const array =  {
    'analytics' : 'Dados analíticos',
    'sponsors' :  'Parceiros'
    }
    return array[name]

}

</script>
<template>

    <Head title="Lista de notícia" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Dados para o site</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        
                        <div class="search-input">
                  
                        </div>
                    </div>
                    <div class="tabs-wrap">
                        
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tipo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="data in siteData" :key="data.id">
                                    <td data-label="ID">
                                        <p>{{ data.id }}</p>
                                    </td>
                                    <td data-label="Tipo">
                                        <p>{{ getName(data.name) }}</p>
                                    </td>
                                    <td data-label="">
                                        <p>
                                        <a :href="'/siteData/' + data.id + '/edit'" class="table-btn edit"></a>
                                    </p>
                                    </td>
                                    </tr>
                                    </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </AuthenticatedLayout>
</template>