<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Criar Categoria de anúncio" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Criar Categoria de anúncio</h3>
        </template>

        <div class="form-wrap edit-ad-category small-form" id="content">
            <Loader v-if="loading" />
            <div>
                <div>
                    <form @submit.prevent="updateAdCategory" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome" />
                            <TextInput id="name" ref="name" v-model="adCategory.name" type="text" class=""
                                placeholder="Nome da categoria" />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disable="loading">{{loading ? "Salvando...": "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    data() {
        return {
            ad: new Object(),
            loading: false
        };
    },
    methods: {
        async updateAdCategory() {
            this.loading = true
            try {
                await axios.post(route('adCategories.store'), this.ad)
                window.location.href = '/adCategories'

            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
