<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Editar Categoria de anúncio" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar categoria</h3>
        </template>

        <div class="form-wrap edit-ad-category small-form" id="content">
            <Loader v-if="loading" />
            <div>
                <div>
                    <form @submit.prevent="updateAdCategory" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome" />
                            <TextInput id="name" ref="name" v-model="adCategory.name" type="text" class=""
                                placeholder="Nome da categoria" />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
const events = ['dragenter', 'dragover', 'dragleave', 'drop']

function preventDefaults(e) {
    e.preventDefault()
}

export default {
    props: {
        adCategory: {
            type: Object,
            required: true

        },
    },
    methods: {
        async updateAdCategory() {
            this.loading = true
            try {

                await axios.put(route('adCategories.update', this.adCategory.id), this.adCategory)
                window.location.href = '/adCategories'
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
