<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
</script>

<template>
    <Head title="Lista de categorias de anúncios" />

    

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Categorias de Anúncios</h3>
        </template>
        
        <div class="main-content">
            <div class="table-wrap">
                <div class="list-header">
                    <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateAdCategory">Criar nova categoria</button></div>
                    <div class="search-input">
                        <InputLabel for="search"></InputLabel>
                        <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                    </div>
                </div>
                <div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="ad in adsCategories">
                                    <td data-label="ID"><p>{{ ad.id }}</p></td>
                                    <td data-label="Nome"><p>{{ ad.name }}</p></td>
                                    <td data-label=""><p><a :href="'/adCategories/' + ad.id + '/edit'" class="table-btn edit"></a></p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
          <div class="pagination">
            <button v-if="currentPage > 1" @click="fetchAdsCategories(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchAdsCategories(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchAdsCategories(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchAdsCategories(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
          </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return{
            adsCategories: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            loading: false,
            searchTerm : '',
        }
        
    },
    watch: {
        searchTerm(newTerm, oldTerm){
            this.fetchAdsCategories(1, newTerm)
        }
    },
    mounted() {
        this.fetchAdsCategories(this.page, '')
    },  
    methods: {
        redirectToCreateAdCategory: function() {
            window.location.href = "/adCategories/create"
        },
        fetchAdsCategories(page, search) {
            this.loading = true
            axios.get("/api/adsCategories?page=" + page + "&name=" + search)
                .then(response => {
                    this.loading = false
                    this.adsCategories = response.data
                })
                .catch(error => {
                    console.log(error)
                });
        }
    }
}
</script>