<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
</script>

<template>
    <Head title="Criar Together" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Criar um Together</h3>
        </template>

        <div class="form-wrap create-together" id="content">
            <Loader v-if="loading" />
            <form class="form">
                <div class="input-wrap">
                    <InputLabel for="name" value="Título do together" />
                    <TextInput
                        id="name"
                        ref="name"
                        v-model="together.name"
                        type="text"
                        class="input-text"
                        placeholder="Adicione o nome do together"
                    />
                </div>
                <div class="input-wrap">
                    <InputLabel for="url" value="Link do grupo" />
                    <TextInput
                        id="url"
                        v-model="together.link"
                        type="text"
                        class="input-text"
                        placeholder="Adicione o link do grupo"
                    />
                </div>
                <div class="input-wrap">
                    <InputLabel for="Categorias" value="Categoria" />
                    <select
                        name="categorias"
                        id="categorias"
                        v-model="selectedCategory"
                        class="select"
                    >
                        <option
                            v-for="category in categories"
                            :value="category.id"
                        >
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <div class="double-input">
                    <div class="input-wrap">
                        <InputLabel for="status" value="Status" />
                        <select
                            name="status"
                            id="status"
                            v-model="together.status"
                            class="select"
                        >
                            <option :value="0">Desativado</option>
                            <option :value="1">Ativo</option>
                        </select>
                    </div>
                    <div class="input-wrap">
                        <InputLabel for="priority" value="Prioridade" />
                        <TextInput
                            id="priority"
                            v-model="together.priority"
                            type="text"
                            class="input-text"
                            placeholder="Prioridade"
                        />
                    </div>
                </div>
                <div class="input-wrap">
                    <InputLabel for="image" value="Imagem destacada" />
                    <PrimaryButton
                        v-if="previewImageUrl"
                        @click.stop.prevent="removeImage"
                        class="remove-img-btn"
                    >
                        Remover Imagem</PrimaryButton
                    >
                    <div class="img-input-wrap">
                        <div class="upload-label">
                            <img src="/images/img-upload.svg" alt="" />
                            <p>Clique aqui para adicionar uma imagem.</p>
                        </div>
                        <input
                            type="file"
                            ref="imageInput"
                            @change="previewImage"
                        />
                        <img
                            v-if="previewImageUrl"
                            :src="previewImageUrl"
                            alt="Imagem do Evento"
                            class="img-upload"
                        />
                    </div>
                </div>
                <div class="btn-wrap">
                    <PrimaryButton
                        @click.prevent="submitForm"
                        :disabled="loading"
                        >{{ loading ? "Salvando..." : "Salvar" }}
                    </PrimaryButton>
                </div>
            </form>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    components: { VueMultiselect },
    data() {
        return {
            together: new Object(),
            categories: [],
            isMainOptions: [
                { name: "Não", id: 0 },
                { name: "Sim", id: 1 },
            ],
            selectedIsMain: { name: "Não", id: 0 },
            selectedCategory: "",
            previewImageUrl: "",
        };
    },
    mounted() {
        this.fetchCategories();
    },
    methods: {
        async fetchCategories() {
            this.loading = true;
            try {
                const response = await axios.get("/api/togethersCategories");
                this.categories = response.data;
            } catch (e) {
                console.log(e);
            } finally {
                this.loading = false;
            }
        },
        async createTogether() {
            this.loading = true;
            try {
                this.together.category_id = this.selectedCategory;
                this.together.is_main = this.selectedIsMain.id;
                const response = await axios.post(
                    route("togethers.store"),
                    this.together
                );
                return response.data;
            } catch (e) {
                alert("Erro ao criar o together");
            } finally {
                this.loading = false;
            }
        },
        removeImage() {
            this.previewImageUrl = null;
        },
        async submitForm() {
            const storedTogether = await this.createTogether();
            this.together.id = storedTogether.id;
            await this.handleImageUpload(storedTogether.id);
            // window.location.href = '/events'
        },
        async handleImageUpload(event) {
            const fileInput = this.$refs.imageInput;
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append("image", file);
            formData.append("filePath", "togethers/" + this.together.id);

            try {
                const response = await axios.post("/upload-image", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                });
                this.together.image = response.data;
                this.updateTogether();
            } catch (error) {
                console.error(error);
                alert(
                    "Conteúdo salvo, mas com problema na imagem. Retorne para listagem e edite o conteúdo novamente."
                );
                window.location.replace("/togethers");
            }
        },
        async updateTogether() {
            try {
                this.loading = true;
                const response = await axios.put(
                    route("togethers.update", this.together.id),
                    this.together
                );
                window.location.href = "/togethers";
            } catch (e) {
                console.log(e);
                alert("Erro ao editar o together");
            } finally {
                this.loading = false;
            }
        },
        previewImage() {
            const fileInput = this.$refs.imageInput;
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previewImageUrl = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                this.previewImageUrl = null;
            }
        },
    },
};
</script>
