<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
</script>

<template>
    <Head title="Editar Together" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar Together</h3>
        </template>

        <div class="form-wrap edit-together" id="content">
            <Loader v-if="loading" />
            <notification
                v-if="showNotification"
                :message="notificationMessage"
                :type="notificationType"
                @close="hideNotification"
            ></notification>
            <form class="form">
                <div class="input-wrap">
                    <InputLabel for="name" value="Título do together" />
                    <TextInput
                        id="name"
                        ref="name"
                        v-model="together.name"
                        type="text"
                        class="input-text"
                        placeholder="Adicione o título do together"
                    />
                </div>
                <div class="input-wrap">
                    <InputLabel for="url" value="Link do grupo" />
                    <TextInput
                        id="url"
                        v-model="together.link"
                        type="text"
                        class="input-text"
                        placeholder="Adicione o link do grupo"
                    />
                </div>
                <!-- <div class="input-wrap">
                    <InputLabel for="is_main" value="Destaque" />
                    <VueMultiselect v-model="selectedIsMain" :options="isMainOptions" name="is_main" id="is_main"
                        class="single-select" :close-on-select="true" :allow-empty="false"
                        placeholder="Marcar como destaque?" label="name" track-by="name" />
                </div> -->
                <div class="input-wrap">
                    <InputLabel for="Categorias" value="Categoria" />
                    <select
                        name="categorias"
                        id="categorias"
                        v-model="selectedCategory"
                        class="select"
                    >
                        <option
                            v-for="category in categories"
                            :value="category.id"
                        >
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <div class="double-input">
                    <div class="input-wrap">
                        <InputLabel for="status" value="Status" />
                        <select
                            name="status"
                            id="status"
                            v-model="together.status"
                            class="select"
                        >
                            <option :value="0">Desativado</option>
                            <option :value="1">Ativo</option>
                        </select>
                    </div>
                    <div class="input-wrap">
                        <InputLabel for="priority" value="Prioridade" />
                        <TextInput
                            id="priority"
                            v-model="together.priority"
                            type="text"
                            class="input-text"
                            placeholder="Prioridade"
                        />
                    </div>
                </div>
                <div class="input-wrap">
                    <InputLabel for="image" value="Imagem destacada" />
                    <PrimaryButton
                        v-if="together.image"
                        @click.stop.prevent="removeImage"
                        class="remove-img-btn"
                    >
                        Remover Imagem</PrimaryButton
                    >
                    <div class="img-input-wrap">
                        <div class="upload-label">
                            <img src="/images/img-upload.svg" alt="" />
                            <p>Clique aqui para adicionar uma imagem.</p>
                        </div>
                        <input
                            type="file"
                            ref="imageInput"
                            @change="previewImage"
                        />
                        <img
                            v-if="previewImageUrl"
                            :src="previewImageUrl"
                            alt="Imagem do Evento"
                            class="img-upload"
                        />
                    </div>
                </div>
                <div class="btn-wrap">
                    <PrimaryButton
                        @click.prevent="submitForm"
                        :disabled="loading"
                        >{{ loading ? "Salvando..." : "Salvar" }}
                    </PrimaryButton>
                </div>
            </form>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    components: { VueMultiselect },
    props: {
        together: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            categories: [],
            isMainOptions: [
                { name: "Não", id: 0 },
                { name: "Sim", id: 1 },
            ],
            selectedCategory: this.together.category_id,
            selectedIsMain: this.together.is_main
                ? { name: "Sim", id: 1 }
                : { name: "Não", id: 0 },
            loading: false,
            previewImageUrl: this.together.image,
            newImage: false,
            showNotification: false,
        };
    },
    mounted() {
        this.fetchCategories();
    },
    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = "";
            this.notificationType = "";
        },
        fetchCategories() {
            axios
                .get("/api/togethersCategories")
                .then((response) => {
                    this.categories = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        async updateTogether() {
            try {
                this.loading = true;
                this.together.category_id = this.selectedCategory;
                this.together.is_main = this.selectedIsMain.id;
                const response = await axios.put(
                    route("togethers.update", this.together.id),
                    this.together
                );
                this.showNotification = true;
                this.notificationMessage = "Conteúdo salvo";
                this.notificationType = "success";
            } catch (e) {
                console.log(e);
                this.showNotification = true;
                this.notificationMessage = "Erro ao salvar";
                this.notificationType = "error";
            } finally {
                this.loading = false;
            }
        },
        removeImage() {
            this.previewImageUrl = "";
            this.together.image = null;
        },
        previewImage() {
            const fileInput = this.$refs.imageInput;
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previewImageUrl = e.target.result;
                };
                this.newImage = true;
                reader.readAsDataURL(file);
            } else {
                this.previewImageUrl = null;
                this.newImage = false;
            }
        },
        async submitForm() {
            await this.handleImageUpload();
            await this.updateTogether();
        },
        async handleImageUpload(event) {
            if (this.newImage) {
                const fileInput = this.$refs.imageInput;
                const file = fileInput.files[0];
                const formData = new FormData();
                formData.append("image", file);
                formData.append("filePath", "togethers/" + this.together.id);
                try {
                    const response = await axios.post(
                        "/upload-image",
                        formData,
                        {
                            headers: {
                                "Content-Type": "multipart/form-data",
                            },
                        }
                    );
                    this.together.image = response.data;
                } catch (error) {
                    console.error(error);
                    alert(
                        "Conteúdo salvo, mas com problema na imagem. Retorne para listagem e edite o conteúdo novamente."
                    );
                    window.location.replace("/togethers");
                }
            }
        },
    },
};
</script>
