<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de togethers" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de togethers</h3>
        </template>

        <div class="main-content">
            <div v-if="loading" class="loading"></div>
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateTogether">Criar
                                novo
                                together</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="tabs-wrap">
                        <div class="tab" v-for="(filterValue, index) in filters" v-on:click="changeFilter(filterValue.id)"
                            :class="{ 'active': filterValue.id == selectedFilter }">{{ filterValue.name }}</div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Imagem</th>
                                    <th>Categoria</th>
                                    <th>Status</th>
                                    <th>Prioridade</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="together in togethers">
                                    <td data-label="ID">
                                        <p>{{ together.id }}</p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ together.name }}</p>
                                    </td>
                                    <td data-label="Imagem">
                                        <p><img :src="together.image" /></p>
                                    </td>
                                    <td data-label="Categoria">
                                        <p>{{ together.category?.name }}</p>
                                    </td>
                                    <td data-label="Categoria">
                                        <p>{{ together.status ? 'Ativo' : 'Desativado' }}</p>
                                    </td>
                                    <td data-label="Prioridade">
                                        <p>{{ together.priority }}</p>
                                    </td>
                                    <td data-label="Ação">
                                        <p>
                                            <a :href="'/togethers/' + together.id + '/edit'" class="table-btn edit"></a>
                                            <button class="table-btn delete"
                                                v-on:click="deleteTogether(together)"></button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchTogethers(currentPage - 1, searchTerm)"
                        class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchTogethers(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchTogethers(index, searchTerm)" class="pagination-btn"
                                :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchEvents(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchTogethers(currentPage + 1, searchTerm)"
                        class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            togethers: [],
            searchTerm: '',
            loading: false,
            selectedFilter: 'todos',
            filters: [],
            currentPage: 1,
            lastPage: 1,
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchTogethers(this.page, newTerm)
        }
    },
    mounted() {
        this.fetchCategories()
        this.selectedFilter = 'todos';
        this.fetchTogethers(this.page, '')
    },
    methods: {
        redirectToCreateTogether: function () {
            window.location.href = "/togethers/create"
        },
        changeFilter(filterValue) {
            this.selectedFilter = filterValue
            this.searchTerm = ''
            this.fetchTogethers(1, '')
        },
        async fetchCategories () {
            try{
                const response = await axios.get("/api/togethersCategories")
                this.filters.push({"id": "todos", "name": "Todos"})
                this.filters = [...this.filters, ...response.data]
            } catch(e) {
                console.log(e)
            }
        },
        async deleteTogether(together) {
            try {
                if (confirm('Deseja excluir o together?')) {
                    this.loading = true
                    await axios.delete(route('togethers.destroy', together.id), together)
                }
            } catch (e) {
                alert('Erro ao excluir o together')
            } finally {
                this.fetchTogethers(1, '')
                this.loading = false
            }
        },
        async fetchTogethers(page, search) {
            try {
                this.loading = true
                let url = '/api/togethers?name=' + search + '&page=' + page;
                if (this.selectedFilter !== 'todos') {
                    url += `&category=${encodeURIComponent(this.selectedFilter)}`;
                }
                const response = await axios.get(url)
                this.loading = false
                this.togethers = response.data.data
                this.pagination = response.data.links
                this.currentPage = response.data.current_page;
                this.lastPage = response.data.last_page;
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        }
    }
}
</script>
