<script setup>
import { ref } from 'vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { useForm } from '@inertiajs/vue3';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';

const props = defineProps({
    siteData: {
        // type: Object
    }
})


const form = useForm({
    id: props.siteData.id,
    name: props.siteData.name,
    value: props.siteData.value,
    priority: props.siteData.priority
});

const addNewValue = () => {
    form.value.push({ '': '' });
};

const deleteValue = (index) => {
    form.value.splice(index, 1);
};


const updateData = async () => {
    await form.put(route('siteData.update', { id: form.id }), {
        onSuccess: () => {
         
        },
        onError: () => {
         
        }
    });
};
</script>
<template>
    <Head title="Editar dados analíticos" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar dados analíticos</h3>
        </template>
        <div class="form-wrap edit-new" id="content">
            <Loader v-if="loading" />
            <notification v-if="showNotification" :message="notificationMessage" :type="notificationType"
                @close="hideNotification"></notification>
            <div>
                <div>
                    <form @submit.prevent="updateData" class="form">
                        <div v-for="(item, index) in form.value" :key="index" class="mb-4">
                            <div class="sub-input-wrap">
                                <div class="input-wrap">
                                    <InputLabel :for="'key' + index" value="Nome" />
                                    <TextInput :id="'key' + index" v-model="form.value[index].key" class="input-text"
                                        type="text" placeholder="Nome" required />
                                </div>
                                <div class="input-wrap">
                                    <InputLabel :for="'value' + index" value="Valor" />
                                    <TextInput :id="'value' + index" v-model="form.value[index].value"
                                        class="input-text" type="text" placeholder="Valor" required />
                                </div>
                                <div class="input-wrap">
                                    <InputLabel :for="'value' + index" value="Prioridade" />
                                    <TextInput :id="'value' + index" v-model="form.value[index].priority"
                                        class="input-text" type="text" placeholder="Valor" required />
                                </div>
                                <div class="input-wrap">
                                    <div class="btn-wrap">
                                        <!-- <div class="remove-items" @click="deleteValue(index)">Remover</div> -->
                                        <button type="button" @click="deleteValue(index)" class="remove-items">
                                            Remover
                                        </button>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="btn-wrap">
                            <button type="button" @click="addNewValue" class="add-items">
                                Adicionar Novo
                            </button>
                            <PrimaryButton type="submit" :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </AuthenticatedLayout>

</template>