<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Editar Categoria de together" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar categoria de together</h3>
        </template>

        <div class="form-wrap edit-together-type small-form" id="content">
            <Loader v-if="loading" />
            <div>
                <div>
                    <form @submit.prevent="updateAdCategory" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome" />
                            <TextInput id="name" ref="name" v-model="togetherCategory.name" type="text" class=""
                                placeholder="Nome da categoria" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="priority" value="Prioridade" />
                            <TextInput id="priority" ref="priority" v-model="togetherCategory.priority" type="text"
                                class="" placeholder="Prioridade" />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        togetherCategory: {
            type: Object,
            required: true
        },
    },
    methods: {
        async updateAdCategory() {
            this.loading = true
            try {
                await axios.put(route('togethersCategories.update', this.togetherCategory.id), this.togetherCategory)
                window.location.href = '/togethersCategories'
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }

        },
    }
}
</script>
