<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>
    

    <Head title="Lista de categorias de together" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Categorias de together</h3>
        </template>

        <div class="main-content">
            <div v-if="loading" class="loading">Loading...</div>
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateAdCategory">Criar nova categoria</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table" v-if="adsCategories.length > 0">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Prioridade</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="ad in adsCategories" >
                                    <td data-label="ID"><p>{{ ad.id }}</p></td>
                                    <td data-label="Nome"><p>{{ ad.name }}</p></td>
                                    <td data-label="Prioridade"><p>{{ ad.priority }}</p></td>
                                    <td data-label=""><p><a :href="'/togethersCategories/' + ad.id + '/edit'" class="table-btn edit"></a></p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return{
            adsCategories: [],
            loading: false,
            searchTerm : '',
        }
        
    },
    watch: {
        searchTerm(newTerm, oldTerm){
            this.fetchTogetherCategories(1, newTerm)
        }
    },
    mounted() {
        this.fetchTogetherCategories(this.page, '')
    },  
    methods: {
        redirectToCreateAdCategory: function() {
            window.location.href = "/togethersCategories/create"
        },
        fetchTogetherCategories(page, search) {
            this.loading = true
            axios.get("/api/togethersCategories?page=" + page + "&name=" + search)
                .then(response => {
                    this.loading = false
                    this.adsCategories = response.data
                })
                .catch(error => {
                    console.log(error)
                });
        }
    }
}
</script>