<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Criar cidade" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Cadastrar cidade</h3>
        </template>

        <div class="form-wrap edit-highlight-type small-form" id="content">
            <Loader v-if="loading" />
            <notification v-if="showNotification" :message="notificationMessage" :type="notificationType"
                @close="hideNotification"></notification>
            <div>
                <div>
                    <form @submit.prevent="storeState" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome da cidade" />
                            <TextInput id="name" ref="name" v-model="city.name" type="text" class=""
                                placeholder="Adicione o nome da cidade" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="name" value="Código da cidade" />
                            <TextInput id="name" ref="name" v-model="city.code" type="text" class=""
                                placeholder="Adicione o código da cidade" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="icon" value="Estado" />
                            <VueMultiselect v-model="selectedState" :options="statesList" name="country" id="country"
                                class="single-select" :close-on-select="true" :allow-empty="true"
                                placeholder="Adicione o estado da cidade" label="name" track-by="name" 
                                />
                        </div>
                        
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    components: { VueMultiselect },
    data() {
        return {
            city: new Object(),
            states: [],
            selectedState: [],
            statesList: [],
            loading: false,
            showNotification: false
        };
    },
    mounted() {
        this.getStates()
    },  
    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = '';
            this.notificationType = '';
        },
        async getStates() {
            try {
                const response = await axios.get("/api/states")
                
                // this.statesList = response.data
                let tempStatesList = response.data
                tempStatesList.forEach(state => {
                    state.name = `${state.name} - ${state.country.country_name}`;
                });
                this.statesList = tempStatesList
                
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
        async storeState() {
            this.loading = true
            try {
                this.city.state_id = this.selectedState.id
                await axios.post(route('cities.store'), this.city)
                window.location.href = '/cities'
            } catch (e) {
                this.loading = false
                this.showNotification = true
                this.notificationMessage = e.response.data.message
                this.notificationType = 'error'
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
