<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Editar cidade" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar cidade</h3>
        </template>

        <div class="form-wrap edit-highlight-type small-form" id="content">
            <Loader v-if="loading" />
            <notification v-if="showNotification" :message="notificationMessage" :type="notificationType"
                @close="hideNotification"></notification>
            <div>
                <div>
                    <form @submit.prevent="updateState" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome da cidade" />
                            <TextInput id="name" ref="name" v-model="city.name" type="text" class=""
                                placeholder="Adicione o nome da cidade"/>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="code" value="Código da cidade" />
                            <TextInput id="code" ref="code" v-model="city.code" type="text" class=""
                                placeholder="Adicione o código da cidade" required/>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="Estado" value="Estado" />
                            <VueMultiselect v-model="selectedState" :options="statesList" name="country" id="country"
                                class="single-select" :close-on-select="true" :allow-empty="true"
                                placeholder="Adicione o estado da cidade" label="name" track-by="name" 
                                />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    components: { VueMultiselect },
    props: {
        city: {
            type: Object,
            required: true
        },
        statesList: {
            type: Array
        }
    },
    data() {
        return {
            types: [],
            loading: false,
            loading: false,
            showNotification: false,
            selectedState: this.statesList.filter(x => x.id === this.city.state_id),
            notificationMessage: ''
        };
    },
    mounted() {
        this.statesList.forEach(state => {
            state.name = state.name + ' - ' + state.country.country_name
        })
    },  
    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = '';
            this.notificationType = '';
        },
        async updateState() {
            this.loading = true
            try {
                this.city.state_id = this.selectedState.id ? this.selectedState.id : this.selectedState[0].id
                await axios.put(route('cities.update', this.city.id), this.city)
                window.location.href = '/cities'
            } catch (e) {
                console.log(e)
                this.showNotification = true
                this.notificationMessage = e.response.data.message
                this.notificationType = 'error'
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
