<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Loader from '@/Components/Loader.vue';
</script>

<template>


    <Head title="Lista de cidades" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de cidades</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateCity">Criar nova cidade</button></div>

                    <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Estado - País</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="city in cities" >
                                    <td data-label="ID"><p>{{ city.id }}</p></td>
                                    <td data-label="Nome"><p>{{ city.name }}</p></td>
                                    <td data-label="Estado"><p>{{ city.state.name }} - {{ city.state.country.country_name }}</p></td>
                                    <td data-label="">
                                        <p>
                                            <a :href="'/cities/' + city.id + '/edit'" class="table-btn edit"></a>
                                            <button class="table-btn delete" v-on:click="deleteCity(city)"></button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchCities(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchCities(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchCities(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchCities(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchCities(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return{
            cities: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            loading: false,
            searchTerm: ''
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchCities(1, newTerm)
        },
    },
    mounted() {
        this.fetchCities(this.page, '')
    },
    methods: {
        redirectToCreateCity: function() {
            window.location.href = "/cities/create"
        },
        deleteCity: function (city) {
            if (confirm('Deseja excluir a cidade?')) {
                this.loading = true
                axios.delete(route('cities.destroy', city.id), city)
                    .then(response => {
                        this.fetchCities(this.page, '')
                    })
                    .catch(error => {
                        console.log(error)
                    })

                this.loading = false
            }

        },
        fetchCities(page, search) {
            this.loading = true
            axios.get("/api/cities?name=" + search + '&page=' + page)
                .then(response => {
                    this.loading = false
                    this.cities = response.data.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                })
                .catch(error => {
                    console.log(error)
                });
            this.loading = true
        }
    }
}
</script>
