<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import Editor from "@/Components/Editor.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
</script>

<template>
    <Head title="Criar noticia" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Criar noticia</h3>
        </template>
        <div class="form-wrap edit-new" id="content">
            <Loader v-if="loading" />
            <notification
                v-if="showNotification"
                :message="notificationMessage"
                :type="notificationType"
                @close="hideNotification"
            ></notification>
            <div>
                <div>
                    <form class="form">
                        <div class="input-wrap">
                            <InputLabel
                                for="name"
                                value="Título da notícia"
                                required="true"
                            />
                            <TextInput
                                id="name"
                                ref="name"
                                v-model="news.title"
                                type="text"
                                class=""
                                placeholder="Nome da notícia"
                            />
                            <div class="input-count-char">
                                {{ news.title?.length }} caracteres
                            </div>
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="slug"
                                    value="Slug"
                                    required="true"
                                />
                                <SlugInput
                                    v-model="news.slug"
                                    :initial-value="news.slug"
                                ></SlugInput>
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="is_main" value="Destaque" />
                                <VueMultiselect
                                    v-model="selectedIsMain"
                                    :options="optionsBoolean"
                                    name="is_main"
                                    id="is_main"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Marcar como destaque?"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="search_terms"
                                value="Usuários encontrarão este conteúdo ao pesquisar por"
                            />
                            <TextInput
                                id="search_terms"
                                v-model="news.search_terms"
                                type="text"
                                class="input-text"
                                placeholder="Termos para pesquisa"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="is_draft" value="Rascunho?" />
                            <VueMultiselect
                                v-model="selectedIsDraft"
                                :options="optionsBoolean"
                                name="is_main"
                                id="is_main"
                                class="single-select"
                                :close-on-select="true"
                                :allow-empty="false"
                                placeholder="Marcar como destaque?"
                                label="name"
                                track-by="name"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="public_date"
                                value="Data de publicação (agendamento)"
                                required="true"
                            />
                            <input
                                type="datetime-local"
                                id="start_date"
                                v-model="news.public_date"
                                defaultValue="news.public_date"
                                class="input-text"
                                max="9999-12-31T23:59"
                            />
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="Categoria"
                                    value="Categoria"
                                    required="true"
                                />
                                <VueMultiselect
                                    v-model="selectedCategory"
                                    :options="categories"
                                    name="Categoria"
                                    id="Categoria"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Selecione a categoria da notícia"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel
                                    for="Autor"
                                    value="Autor"
                                    required="true"
                                />
                                <VueMultiselect
                                    v-model="selectedAuthor"
                                    :options="authors"
                                    name="Autor"
                                    id="Autor"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Selecione o autor na notícia"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="image"
                                value="Imagem destacada"
                                required="true"
                            />
                            <PrimaryButton
                                v-if="previewImageUrl"
                                @click.stop.prevent="removeImage"
                                class="remove-img-btn"
                            >
                                Remover Imagem</PrimaryButton
                            >
                            <div class="img-input-wrap">
                                <div class="upload-label">
                                    <img src="/images/img-upload.svg" alt="" />
                                    <p>
                                        Clique aqui para adicionar uma imagem.
                                    </p>
                                </div>
                                <input
                                    type="file"
                                    ref="imageInput"
                                    @change="previewImage"
                                />
                                <img
                                    v-if="previewImageUrl"
                                    :src="previewImageUrl"
                                    alt="Imagem da noticia"
                                    class="img-upload"
                                />
                            </div>
                        </div>
                        <Editor
                            title="Conteúdo"
                            :content="news.content"
                            @update="(value) => (news.content = value)"
                        />
                        <div class="input-wrap">
                            <InputLabel
                                for="selected_events"
                                value="Widget de eventos (programação de eventos automática)"
                            />
                            <TextInput
                                id="search_terms"
                                v-model="news.selected_events"
                                type="text"
                                class="input-text"
                                placeholder="Insira o link"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="Artistas"
                                value="Artistas citados na notícia"
                            />
                            <VueMultiselect
                                v-model="selectedArtists"
                                :options="artistsFit"
                                :multiple="true"
                                hideSelected
                                :close-on-select="true"
                                placeholder="Selecione os artistas"
                                label="name"
                                track-by="name"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="Events"
                                value="Eventos citados na notícia"
                            />
                            <VueMultiselect
                                v-model="selectedEvents"
                                :options="eventsFit"
                                :multiple="true"
                                hideSelected
                                :close-on-select="true"
                                placeholder="Selecione os eventos"
                                label="name"
                                track-by="name"
                            />
                        </div>
                        <!-- <div class="input-wrap">
                            <InputLabel for="embed" value="Embed da notícia (em breve)"/>
                            <TextInput id="embed" ref="embed" v-model="news.embed" type="text" class=""
                                placeholder="Adicione um embed para a notícia" disabled />
                        </div> -->
                        <div class="subtitle">
                            <p>SEO</p>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="meta_description"
                                value="Meta description"
                                required="true"
                            />
                            <textarea
                                id="embed"
                                ref="embed"
                                v-model="news.meta_description"
                                type="text"
                                class=""
                                placeholder="Escreva aqui"
                            />
                            <div class="input-count-char">
                                {{ news.meta_description?.length }} caracteres
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="key_words"
                                value="Palavras-chave"
                                required="true"
                            />
                            <TextInput
                                id="embed"
                                ref="embed"
                                v-model="news.key_words"
                                type="text"
                                class=""
                                placeholder="Escreva aqui"
                            />
                            <div class="input-count-char">
                                {{ news.key_words?.length }} caracteres
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton
                                style="margin-top: 20px"
                                @click.prevent="submitForm"
                                :disabled="loading"
                                >{{
                                    loading ? "Salvando..." : "Salvar"
                                }}</PrimaryButton
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import SlugInput from "@/Components/SlugInput.vue";
export default {
    components: { VueMultiselect, SlugInput },
    props: {
        categories: { type: Array },
        authors: { type: Array },
        artists: { type: Array },
        events: { type: Array },
    },
    data() {
        return {
            news: Object(),
            loading: false,
            selectedCategory: [],
            selectedArtists: [],
            selectedAuthor: [],
            selectedEvents: [],
            selectedIsMain: [],
            selectedIsDraft: [],
            previewImageUrl: "",
            optionsBoolean: [
                { name: "Não", id: 0 },
                { name: "Sim", id: 1 },
            ],
            showNotification: false,
            artistsFit: this.artists.filter((i) => i.is_draft != 1),
            eventsFit: this.events.filter((i) => i.is_draft != 1),
        };
    },
    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = "";
            this.notificationType = "";
        },
        async createNew() {
            this.loading = true;

            try {
                this.news.artists = this.selectedArtists
                    .map((x) => x.id)
                    .flat();
                this.news.events = this.selectedEvents.map((x) => x.id).flat();
                this.news.category_id = this.selectedCategory.id;
                this.news.author_id = this.selectedAuthor.id;
                this.news.is_main = this.selectedIsMain.id;
                this.news.is_draft = this.selectedIsDraft.id;
                this.news.content =
                    this.news.content === "<p><br></p>"
                        ? ""
                        : this.news.content;
                if (this.previewImageUrl !== "") {
                    this.news.image = "image";
                }
                const response = await axios.post(
                    route("news.store", this.news.id),
                    this.news
                );
                return response.data;
            } catch (e) {
                this.loading = false;
                this.showNotification = true;
                this.notificationMessage = e.response.data.message;
                this.notificationType = "error";
                return null;
            } finally {
            }
        },
        removeImage() {
            this.previewImageUrl = null;
        },
        async submitForm() {
            try {
                const storedNew = await this.createNew();
                if (!storedNew) {
                    throw new Error("Erro ao criar a noticia");
                }
                this.news.id = storedNew.id;
                await this.handleImageUpload(storedNew.id);
            } catch (e) {
                console.log(e);
            }
        },
        previewImage() {
            const fileInput = this.$refs.imageInput;
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previewImageUrl = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                this.previewImageUrl = null;
            }
        },
        async handleImageUpload(newId) {
            if (this.previewImageUrl !== null) {
                try {
                    const fileInput = this.$refs.imageInput;
                    const file = fileInput.files[0];
                    const formData = new FormData();
                    formData.append("image", file);
                    formData.append("filePath", "news/" + newId);
                    this.loading = true;
                    const response = await axios.post(
                        "/upload-image",
                        formData,
                        {
                            headers: {
                                "Content-Type": "multipart/form-data",
                            },
                        }
                    );
                    this.news.image = response.data;
                    this.updateNew();
                } catch (error) {
                    this.loading = false;
                    console.error(error);
                    alert(
                        "Conteúdo salvo, mas com problema na imagem. Retorne para listagem e edite o conteúdo novamente."
                    );
                    window.location.replace("/news");
                } finally {
                }
            } else {
                this.news.image = "";
            }
        },
        async updateNew() {
            this.loading = true;
            try {
                await axios.put(route("news.update", this.news.id), this.news);
                window.location.href = "/news";
            } catch (e) {
                this.loading = false;
                alert("Erro ao atualizar a notícia");
            } finally {
            }
        },
    },
};
</script>
