<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
import axios from 'axios';
</script>

<template>

    <Head title="Lista de notícia" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Notícias</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateNew">Criar nova
                                noticia</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="tabs-wrap">
                        <div class="tab" v-for="(filterValue, index) in filters" v-on:click="changeFilter(filterValue)"
                            :class="{ 'active': filterValue == selectedFilter }">{{ filterValue }}</div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Imagem</th>
                                    <th>Nome</th>
                                    <th>Categoria</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="news_ in news">
                                    <td data-label="ID">
                                        <p>{{ news_.id }}</p>
                                    </td>
                                    <td data-label="Imagem">
                                        <p><img :src="news_.image"></p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ news_.title }}</p>
                                    </td>
                                    <td data-label="Categoria" class="category">
                                        <p><span class="tag" :news-type="news_.category?.id" :class="{
                            'entrevista': news_.category?.name === 'Entrevista',
                            'fica-a-dica': news_.category?.name === 'Fica a dica',
                            'cena': news_.category?.name === 'Cena',
                            'quanto-custa': news_.category?.name === 'Quanto custa',
                            'guia': news_.category?.name === 'Guia',
                            'lista': news_.category?.name === 'Lista',
                            'review': news_.category?.name === 'Review'
                        }">{{ news_.category?.name }}</span>
                                        </p>
                                    </td>
                                    <td data-label="Ações">
                                        <p>
                                            <template v-if="selectedFilter !== 'excluidos'"> 
                                            <a :href="'/news/' + news_.id + '/edit'" class="table-btn edit"></a>
                                            <a :href="'https://www.wegoout.com.br/noticias/' + news_.slug"
                                                class="table-btn view" target="_blank"></a>
                                            <button class="table-btn delete" v-if="selectedFilter !== 'excluidos'"
                                                v-on:click="deleteNew(news_)"></button>
                                            </template>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchNews(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchNews(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchNews(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchNews(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchNews(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
                <!-- <button v-if="currentPage > 1" @click="fetchNews(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <button v-for="index in Math.min(3, lastPage)" :key="index" @click="fetchNews(index, searchTerm)"
                    class="pagination-btn" :class="{ 'current': currentPage == index }">
                    {{ index }}
                </button>
                <span class="pagination-ellipsis" v-if="lastPage > 3">...</span>
                <button v-if="lastPage > 3" @click="fetchNews(lastPage, searchTerm)" class="pagination-btn"
                    :class="{ 'current': currentPage == lastPage }">
                    {{ lastPage }}
                </button>
                <button v-if="currentPage < lastPage" @click="fetchNews(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button> -->
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            news: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false,
            selectedFilter: 'publicados',
            filters: ['publicados', 'excluidos', 'rascunhos', 'agendados'],
        }
    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchNews(1, newTerm)
        },
        selectedFilter(newTerm, oldTerm) {
            this.fetchNews(1, this.searchTerm)
        }
    },
    mounted() {
        // this.delayedAction();
        this.fetchNews(this.page, '');
    },
    methods: {
        changeFilter(filterValue) {
            this.selectedFilter = filterValue
        },
        deleteNew: function (news) {
            if (confirm('Deseja excluir a notícia?')) {
                this.loading = true
                axios.delete(route('news.destroy', news.id), news)
                    .then(response => {
                        this.fetchNews(this.page, '')
                    })
                    .catch(error => {
                        console.log(error)
                    })

                this.loading = false
            }

        },
        redirectToCreateNew: function () {
            window.location.href = "/news/create"
        },
        async fetchNews(page, search) {
            this.loading = true
            try {
                const response = await axios.get("/api/news?sortedBy=public_date&sorted=DESC&page=" + page + "&name=" + search + "&adminFilters=" + this.selectedFilter)
                    this.news = response.data.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        }
    }
}
</script>