<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import Editor from "@/Components/Editor.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
</script>

<template>
    <Head title="Criar local" />
    <Loader v-if="loading" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Criar local</h3>
        </template>

        <div class="form-wrap create-location" id="content">
            <div>
                <div>
                    <form @submit.prevent="createLocation" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome do local" />
                            <TextInput
                                id="name"
                                ref="name"
                                v-model="location.name"
                                type="text"
                                class=""
                                placeholder="Adicione o nome do local"
                            />
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel for="name" value="Endereço" />
                                <TextInput
                                    id="name"
                                    ref="name"
                                    v-model="location.address"
                                    type="text"
                                    class=""
                                    placeholder="Adicione o endereço"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="neighborhood" value="Bairro" />
                                <TextInput
                                    id="neighborhood"
                                    ref="neighborhood"
                                    v-model="location.neighborhood"
                                    type="text"
                                    class=""
                                    placeholder="Adicione o bairro"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="Estado" value="Estado" />
                            <VueMultiselect
                                v-model="selectedState"
                                :options="states"
                                :close-on-select="true"
                                class="single-select"
                                placeholder="Selecione o estado"
                                label="name"
                                track-by="name"
                                @select="fetchCitiesByState"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="cidade" value="Cidade" />
                            <VueMultiselect
                                v-model="location.city_id"
                                :options="cities"
                                :close-on-select="true"
                                class="single-select"
                                placeholder="Selecione a cidade"
                                label="name"
                                track-by="name"
                            />
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel for="name" value="Latitude" />
                                <TextInput
                                    id="name"
                                    ref="name"
                                    v-model="location.latitude"
                                    type="text"
                                    class=""
                                    placeholder="Digite aqui"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="name" value="Longitude" />
                                <TextInput
                                    id="name"
                                    ref="name"
                                    v-model="location.longitude"
                                    type="text"
                                    class=""
                                    placeholder="Digite aqui"
                                />
                            </div>
                        </div>
                        <Editor
                            title="Biografia"
                            :content="location.description"
                            @update="(value) => (location.description = value)"
                        />
                        <div class="input-wrap">
                            <InputLabel for="name" value="Site" />
                            <TextInput
                                id="name"
                                ref="name"
                                v-model="location.site"
                                type="text"
                                class=""
                                placeholder="Link do site do local"
                            />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{
                                loading ? "Salvando..." : "Salvar"
                            }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        states: {
            type: Array,
        },
    },
    data() {
        return {
            loading: false,
            location: new Object(),
            selectedState: "",
            cities: [],
        };
    },
    methods: {
        async fetchCitiesByState() {
            try {
                this.loading = true;
                const response = await axios.get(
                    "/api/cities?no_pagination=true&state_id=" +
                        this.selectedState.id
                );
                this.cities = response.data;
            } catch (e) {
                console.log(e);
            } finally {
                this.loading = false;
            }
        },
        async createLocation() {
            this.loading = true;
            try {
                this.location.city_id = this.location.city_id.id;
                this.location.description =
                    this.location.description === "<p><br></p>"
                        ? ""
                        : this.location.description;

                await axios.post(route("locations.store"), this.location);
                window.location.href = "/locations";
            } catch (e) {
                alert("Erro ao criar local");
            } finally {
                this.loading = false;
            }
        },
    },
};
</script>
