<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue'
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de locais" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Locais</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreate">Criar novo
                                local</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Cidade / Estado / País</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="location in locations">
                                    <td data-label="ID">
                                        <p>{{ location.id }}</p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ location.name }}</p>
                                    </td>
                                    <td data-label="Cidade / Estado / País">
                                        <p>{{ location.city?.name }} - {{ location.city?.state.name }}</p>
                                    </td>
                                    <td data-label="">
                                        <p><a :href="'/locations/' + location.id + '/edit'" class="table-btn edit"></a>
                                            <button v-if="location.events_count < 1" class="table-btn delete" v-on:click="deleteLocation(location)"></button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchLocations(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchLocations(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchLocations(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchLocations(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchLocations(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    // components: {
    //     Pagination
    // },
    data() {
        return {
            locations: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchLocations(1, newTerm)
        }
    },
    mounted() {
        this.fetchLocations(this.page, '')
    },
    methods: {
        redirectToCreate: function () {
            window.location.href = "/locations/create"
        },
        fetchLocations(page, search) {
            this.loading = true
            axios.get("/api/locations?page=" + page + "&name=" + search)
                .then(response => {
                    this.loading = false
                    this.locations = response.data.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                    // console.log(response.data)
                })
                .catch(error => {
                    console.log(error)
                });
        },
        deleteLocation: function (location) {
            if (confirm('Deseja excluir o local?')) {
                this.loading = true
                axios.delete(route('locations.destroy', location.id), location)
                    .then(response => {
                        this.fetchLocations(this.page, '')
                    })
                    .catch(error => {
                        console.log(error)
                    })

                this.loading = false
            }

        },
    }
}
</script>
