<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import Editor from "@/Components/Editor.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
</script>

<template>
    <Head title="Editar artista" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar artista</h3>
        </template>
        <div class="form-wrap edit-artist" id="content">
            <Loader v-if="loading" />
            <notification
                v-if="showNotification"
                :message="notificationMessage"
                :type="notificationType"
                @close="hideNotification"
            ></notification>
            <div>
                <div>
                    <form class="form">
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel
                                    for="name"
                                    value="Nome"
                                    required="true"
                                />
                                <a
                                    class="view-content"
                                    :href="`https://wegoout.com.br/artistas/${getFinalSlug(
                                        artist.slug
                                    )}`"
                                    target="_blank"
                                    >Ver conteúdo</a
                                >
                                <TextInput
                                    id="name"
                                    ref="nameInput"
                                    v-model="artist.name"
                                    type="text"
                                    class=""
                                    placeholder="Nome do artista"
                                />
                                <div class="input-count-char">
                                    {{ artist.name?.length }} caracteres
                                </div>
                            </div>
                            <div class="input-wrap">
                                <InputLabel
                                    for="slug"
                                    value="Slug"
                                    required="true"
                                />
                                <SlugInput
                                    v-model="artist.slug"
                                    :initial-value="artist.slug"
                                ></SlugInput>
                            </div>
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel for="País" value="País" />
                                <VueMultiselect
                                    v-model="selectedCountry"
                                    :options="listCountries"
                                    name="country"
                                    id="country"
                                    class="single-select"
                                    :close-on-select="true"
                                    :allow-empty="false"
                                    placeholder="Selecione o local do evento"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="is_main" value="Destaque" />
                                <select v-model="artist.is_main">
                                    <option :value="1">Sim</option>
                                    <option :value="0">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="is_draft" value="Rascunho?" />
                            <VueMultiselect
                                v-model="selectedIsDraft"
                                :options="optionsBoolean"
                                name="is_main"
                                id="is_main"
                                class="single-select"
                                :close-on-select="true"
                                :allow-empty="false"
                                placeholder="Marcar como destaque?"
                                label="name"
                                track-by="name"
                            />
                        </div>
                        <div class="subtitle">
                            <p>Informações básicas</p>
                        </div>
                        <div class="double-input">
                            <div class="input-wrap">
                                <InputLabel value="Gravadoras" />
                                <VueMultiselect
                                    v-model="selectedCompanies"
                                    :options="companies"
                                    :multiple="true"
                                    hideSelected
                                    :close-on-select="true"
                                    placeholder="Selecione as gravadoras do artista"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                            <div class="input-wrap">
                                <InputLabel for="Generos" value="Gêneros" />
                                <VueMultiselect
                                    v-model="selectedGenres"
                                    :options="genres"
                                    :multiple="true"
                                    hideSelected
                                    :close-on-select="true"
                                    placeholder="Selecione os gêneros do artista"
                                    label="name"
                                    track-by="name"
                                />
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="embed" value="Embed" />
                            <TextInput
                                id="embed"
                                v-model="artist.embed"
                                type="text"
                                class=""
                                placeholder="Embed do artista"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="image"
                                value="Imagem destacada"
                                required="true"
                            />
                            <PrimaryButton
                                v-if="artist.image"
                                @click.stop.prevent="removeImage"
                                class="remove-img-btn"
                            >
                                Remover Imagem</PrimaryButton
                            >
                            <div class="img-input-wrap">
                                <div class="upload-label">
                                    <img src="/images/img-upload.svg" alt="" />
                                    <p>
                                        Clique aqui para adicionar uma imagem.
                                    </p>
                                </div>
                                <input
                                    type="file"
                                    ref="imageInput"
                                    @change="previewImage"
                                />
                                <img
                                    v-if="previewImageUrl"
                                    :src="previewImageUrl"
                                    alt="Imagem do Artista"
                                    class="img-upload"
                                />
                            </div>
                        </div>
                        <Editor
                            title="Biografia"
                            :content="artist.biography"
                            @update="(value) => (artist.biography = value)"
                        />
                        <div class="input-wrap">
                            <InputLabel
                                for="social_media"
                                value="Redes sociais"
                            />
                            <div
                                class="sub-input-wrap"
                                v-for="(field, index) in socialMediaFields"
                                :key="index"
                            >
                                <div class="double-input">
                                    <div class="input-wrap">
                                        <select
                                            v-model="
                                                field.pivot.social_media_id
                                            "
                                            class=""
                                        >
                                            <option
                                                v-for="socialMedia in social_media"
                                                :value="socialMedia.id"
                                            >
                                                {{ socialMedia.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-wrap">
                                        <TextInput
                                            type="text"
                                            v-model="field.pivot.link"
                                            placeholder="Link"
                                        />
                                    </div>
                                </div>
                                <div class="btn-wrap">
                                    <button
                                        class="remove-items"
                                        @click="removeSocialMediaLink(index)"
                                    >
                                        Remover
                                    </button>
                                </div>
                            </div>
                            <button
                                class="add-items"
                                @click="addSocialMediaLink"
                            >
                                Adiciona rede
                            </button>
                        </div>
                        <div class="subtitle">
                            <p>SEO</p>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="meta_description"
                                value="Meta description"
                                required="true"
                            />
                            <textarea
                                id="meta_description"
                                v-model="artist.meta_description"
                                type="text"
                                class=""
                                placeholder="Meta description do artista"
                            />
                            <div class="input-count-char">
                                {{ artist.meta_description?.length }} caracteres
                            </div>
                        </div>
                        <div class="input-wrap">
                            <InputLabel
                                for="key_words"
                                value="Palavras-chave"
                                required="true"
                            />
                            <TextInput
                                id="key_words"
                                v-model="artist.key_words"
                                type="text"
                                class=""
                                placeholder="Adicione keywords para este artista"
                            />
                            <div class="input-count-char">
                                {{ artist.key_words?.length }} caracteres
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton
                                style="margin-top: 20px"
                                @click.prevent="submitForm"
                                :disabled="loading"
                                >{{
                                    loading ? "Salvando..." : "Salvar"
                                }}</PrimaryButton
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import SlugInput from "@/Components/SlugInput.vue";
export default {
    components: { VueMultiselect, SlugInput },
    props: {
        artist: {
            type: Object,
            required: true,
        },
        genres: { type: Array },
        countries: { type: Array },
        companies: { type: Array },
    },
    data() {
        return {
            socialMediaFields: this.artist.social_media,
            social_media: [],
            loading: false,
            previewImageUrl: this.artist.image,
            selectedGenres: this.artist.genres
                ? this.artist.genres.map((x) => {
                      return { id: x.id, name: x.name };
                  })
                : [],
            selectedCompanies: this.artist.companies
                ? this.artist.companies.map((x) => {
                      return { id: x.id, name: x.name };
                  })
                : [],
            listCountries: this.countries.map((x) => {
                return { id: x.id, name: x.country_name };
            }),
            selectedCountry: this.artist.country_id
                ? this.countries
                      .filter((x) => x.id === this.artist.country.id)
                      .map((x) => {
                          return { id: x.id, name: x.country_name };
                      })
                : "",
            optionsBoolean: [
                { name: "Não", id: 0 },
                { name: "Sim", id: 1 },
            ],
            selectedIsDraft:
                this.artist.is_draft == 1
                    ? { name: "Sim", id: 1 }
                    : { name: "Não", id: 0 },
            newImage: false,
            showNotification: false,
        };
    },
    mounted() {
        this.fetchSocialMedia();
    },
    methods: {
        async fetchSocialMedia() {
            try {
                this.loading = true;
                const response = await axios.get("/api/socialMedia");
                this.social_media = response.data;
            } catch (e) {
                console.log(e);
            } finally {
                this.loading = false;
            }
        },
        addSocialMediaLink() {
            event.preventDefault();
            this.socialMediaFields.push({
                id: null,
                name: "",
                icon: "",
                pivot: { artist_id: 1, social_media_id: 2, link: "" },
            });
        },
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = "";
            this.notificationType = "";
        },
        removeSocialMediaLink(index) {
            event.preventDefault();
            this.socialMediaFields.splice(index, 1);
        },
        removeImage() {
            this.previewImageUrl = null;
            this.newImage = true;
        },
        previewImage() {
            const fileInput = this.$refs.imageInput;
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previewImageUrl = e.target.result;
                };
                reader.readAsDataURL(file);
                this.newImage = true;
            } else {
                this.newImage = false;
                this.previewImageUrl = null;
            }
        },
        async submitForm() {
            this.newImage && (await this.handleImageUpload());
            await this.updateArtist();
        },
        async updateArtist() {
            this.loading = true;
            try {
                this.artist.country_id = this.selectedCountry.id;
                this.artist.genres = this.selectedGenres
                    .map((x) => x.id)
                    .flat();
                this.artist.companies = this.selectedCompanies
                    .map((x) => x.id)
                    .flat();
                this.artist.social_media = this.socialMediaFields.map((x) => {
                    return {
                        social_media_id: x.pivot.social_media_id,
                        link: x.pivot.link,
                    };
                });
                this.artist.is_draft = this.selectedIsDraft.id;
                this.artist.biography =
                    this.artist.biography === "<p><br></p>"
                        ? ""
                        : this.artist.biography;

                await axios.put(
                    route("artists.update", this.artist),
                    this.artist
                );
                this.showNotification = true;
                this.notificationMessage = "Conteúdo salvo";
                this.notificationType = "success";
            } catch (e) {
                this.showNotification = true;
                this.notificationMessage = e.response.data.message;
                this.notificationType = "error";
            } finally {
                this.loading = false;
            }
        },
        getFinalSlug(slug) {
            return slug
                .toLowerCase()
                .normalize("NFD")
                .replace(/[\u0300-\u036f]/g, "")
                .replace(/\s+/g, "-");
        },
        async handleImageUpload() {
            this.loading = true;
            if (this.previewImage !== null) {
                try {
                    const fileInput = this.$refs.imageInput;
                    const file = fileInput.files[0];
                    const formData = new FormData();
                    formData.append("image", file);
                    formData.append("filePath", "artists/" + this.artist.id);
                    this.loading = true;
                    const response = await axios.post(
                        "/upload-image",
                        formData,
                        {
                            headers: {
                                "Content-Type": "multipart/form-data",
                            },
                        }
                    );
                    this.artist.image = response.data;
                } catch (error) {
                    console.error(error);
                    alert(
                        "Conteúdo salvo, mas com problema na imagem. Retorne para listagem e edite o conteúdo novamente."
                    );
                    window.location.replace("/artists");
                } finally {
                    this.loading = false;
                }
            }
        },
    },
};
</script>
