<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Pagination from '@/Components/Pagination.vue'
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de artistas" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Artistas</h3>
        </template>
        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateEvent">Criar novo
                                artista</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="tabs-wrap">
                        <div class="tab" v-for="(filterValue, index) in filters" v-on:click="changeFilter(filterValue)"
                            :class="{ 'active': filterValue == selectedFilter }">{{ filterValue }}</div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                <tr>ID</tr>
                                <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="artist in artists">
                                    <td data-label="ID">
                                        <p>{{ artist.id }}</p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ artist.name }}</p>
                                    </td>
                                    <td data-label="">
                                        <p>
                                            <template v-if="selectedFilter !== 'excluidos'">
                                                <a :href="'/artists/' + artist.id + '/edit'" class="table-btn edit"></a>
                                                <a :href="'https://www.wegoout.com.br/artistas/' + artist.slug"
                                                    class="table-btn view" target="_blank"></a>
                                                <button class="table-btn delete"
                                                    v-on:click="deleteArtist(artist)"></button>
                                            </template>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchArtists(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchArtists(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchArtists(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchArtists(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchArtists(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            artists: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            selectedFilter: 'publicados',
            filters: ['publicados', 'excluidos', 'rascunhos'],
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchArtists(1, newTerm)
        },
        selectedFilter(newTerm, oldTerm) {
            this.fetchArtists(1, this.searchTerm)
        }
    },
    mounted() {
        this.fetchArtists(this.page, '')
    },
    methods: {
        changeFilter(filterValue) {
            this.selectedFilter = filterValue
        },
        redirectToCreateEvent: function () {
            this.loading = true;
            window.location.href = "/artists/create"
        },
        deleteArtist: function (artist) {
            if (confirm('Deseja excluir o artista?')) {
                this.loading = true
                axios.delete(route('artists.destroy', artist.id), artist)
                    .then(response => {
                        this.fetchArtists(this.page, '')
                    })
                    .catch(error => {
                        console.log(error)
                    })

                this.loading = false
            }

        },
        fetchArtists(page, search) {
            this.loading = true
            axios.get("/api/artists?sortedBy=created_at&sorted=DESC&page=" + page + "&name=" + search + "&adminFilters=" + this.selectedFilter)
                .then(response => {
                    this.loading = false
                    this.artists = response.data.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                })
                .catch(error => {
                    console.log(error)
                });
        }
    }
}
</script>