<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
</script>

<template>
    <Head title="Cadastrar gravadora" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Cadastrar gravadora</h3>
        </template>

        <div class="form-wrap create-company small-form" id="content">
            <Loader v-if="loading" />
            <div>
                <div>
                    <form @submit.prevent="createCompany" class="form">
                        <div class="input-wrap">
                            <InputLabel for="Titulo" value="Nome" />
                            <TextInput
                                id="Titulo"
                                ref="Titulo"
                                v-model="company.name"
                                type="text"
                                class=""
                                placeholder="Nome da gravadora"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="Subtitulo" value="Descrição" />
                            <TextInput
                                id="Subtitulo"
                                ref="Subtitulo"
                                v-model="company.description"
                                type="text"
                                placeholder="Descrição da gravadora"
                                class=""
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="artists" value="Artistas" />
                            <VueMultiselect
                                v-model="selectedArtists"
                                :options="artists"
                                :multiple="true"
                                :close-on-select="true"
                                placeholder="Selecione os artistas"
                                label="name"
                                track-by="name"
                                hideSelected
                            />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{
                                loading ? "Salvando..." : "Salvar"
                            }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        artists: {
            type: Array,
        },
    },
    data() {
        return {
            company: Object(),
            selectedArtists: [],
            loading: false,
        };
    },

    methods: {
        async createCompany() {
            this.loading = true;
            try {
                this.company.artists = this.selectedArtists
                    .map((x) => x.id)
                    .flat();
                await axios.post(
                    route("companies.store", this.company),
                    this.company
                );
                window.location.href = "/companies";
            } catch (e) {
                alert("Erro ao cadastrar gravadora");
            } finally {
                this.loading = false;
            }
        },
    },
};
</script>
