<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
</script>

<template>
    <Head title="Editar gravadora" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar gravadora</h3>
        </template>

        <div class="form-wrap edit-company small-form" id="content">
            <Loader v-if="loading" />
            <notification
                v-if="showNotification"
                :message="notificationMessage"
                :type="notificationType"
                @close="hideNotification"
            ></notification>
            <div>
                <div>
                    <form @submit.prevent="updateCompany" class="form">
                        <div class="input-wrap">
                            <InputLabel for="Titulo" value="Nome" />
                            <TextInput
                                id="Titulo"
                                ref="Titulo"
                                v-model="company.name"
                                type="text"
                                class=""
                                placeholder="Nome da gravadora"
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="Subtitulo" value="Descrição" />
                            <TextInput
                                id="Subtitulo"
                                ref="Subtitulo"
                                v-model="company.description"
                                type="text"
                                placeholder="Descrição da gravadora"
                                class=""
                            />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="artists" value="Artistas" />
                            <VueMultiselect
                                v-model="selectedArtists"
                                :options="artists"
                                :multiple="true"
                                :close-on-select="true"
                                placeholder="Selecione os artistas"
                                label="name"
                                track-by="name"
                                hideSelected
                            />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{
                                loading ? "Salvando..." : "Salvar"
                            }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        company: {
            type: Object,
            required: true,
        },
        artists: {
            type: Array,
        },
    },
    data() {
        return {
            loading: false,
            selectedArtists: this.company.artists
                ? this.company.artists.map((x) => {
                      return { id: x.id, name: x.name };
                  })
                : [],
            showNotification: false,
        };
    },

    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = "";
            this.notificationType = "";
        },
        async updateCompany() {
            this.loading = true;
            try {
                this.company.artists = this.selectedArtists
                    .map((x) => x.id)
                    .flat();
                await axios.put(
                    route("companies.update", this.company.id),
                    this.company
                );
                this.showNotification = true;
                this.notificationMessage = "Conteúdo salvo";
                this.notificationType = "success";
            } catch (e) {
                console.log(e);
                this.showNotification = true;
                this.notificationMessage = "Erro ao salvar";
                this.notificationType = "error";
            } finally {
                this.loading = false;
            }
        },
    },
};
</script>
