<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Gravadoras" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de gravadoras</h3>
        </template>

        <div class="main-content">
            <div v-if="loading" class="loading">Loading...</div>
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateCompany">Criar
                                nova
                                gravadora</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Relações</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="company in companies">
                                    <td data-label="ID">
                                        <p>{{ company.id }}</p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ company.name }}</p>
                                    </td>
                                    <td data-label="Descrição">
                                        <p>
                                            {{ company.artists.slice(0, 6).map(artist => artist.name).join(', ') }}
                                            <template v-if="company.artists.length > 6"> + {{ company.artists.length - 6
                                                }}</template>
                                        </p>
                                    </td>
                                    <td data-label="">
                                        <p><a :href="'/companies/' + company.id + '/edit'" class="table-btn edit"></a>
                                            <button class="table-btn delete" v-if="company.artists.length == 0"
                                                v-on:click="deleteCompany(company)"></button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchCompanies(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchCompanies(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchCompanies(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchCompanies(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchCompanies(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            companies: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchCompanies(1, newTerm)
        }
    },
    mounted() {
        this.fetchCompanies(this.page, '')
    },
    methods: {
        redirectToCreateCompany: function () {
            window.location.href = "/companies/create"
        },
        async fetchCompanies(page, search) {
            this.loading = true
            try {
                const response = await axios.get("/api/companies?page=" + page + "&name=" + search)
                this.companies = response.data.data
                this.pagination = response.data.links
                this.currentPage = response.data.current_page;
                this.lastPage = response.data.last_page;
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
        async deleteCompany(company) {
            if (confirm('Deseja excluir a gravadora?')) {
                this.loading = true
                await axios.delete(route('companies.destroy', company.id), company)
                    .then(response => {
                        this.fetchCompanies(this.page, '')
                    })
                    .catch(error => {
                        console.log(error)
                    })
                this.loading = false
            }
        },
    }
}
</script>