<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Criar destaque" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Criar destaque</h3>
        </template>
        <div class="form-wrap create-highlight small-form" id="content">
            <div>
                <div>
                    <form @submit.prevent="storeHighlight" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome" />
                            <TextInput id="name" ref="name" v-model="highlight.name" type="text" class=""
                                placeholder="Nome do destaque" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="type_id" value="Tipo" />
                            <select name="type_id" id="type_id" v-model="selectedType" class="select" required
                                oninvalid="this.setCustomValidity('Selecione o tipo do destaque')"
                                oninput="setCustomValidity('')">
                                <option v-for="type_h in types" :value="type_h.id">{{ type_h.name }}</option>
                            </select>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="link" value="Link" />
                            <TextInput id="name" ref="name" v-model="highlight.link" type="text" class=""
                                placeholder="Link do destaque" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="priority" value="Prioridade" />
                            <TextInput id="priority" ref="priority" v-model="highlight.priority" type="text" class=""
                                placeholder="Prioridade do destaque" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="status" value="Status" />
                            <select name="status" id="status" v-model="highlight.status" class="select" required
                                oninvalid="this.setCustomValidity('Selecione o status do destaque')"
                                oninput="setCustomValidity('')">
                                <option value="0">Desativado</option>
                                <option value="1">Ativo</option>
                            </select>
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{loading ? "Salvando...": "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    data() {
        return {
            highlight: new Object(),
            types: [],
            selectedType: [],
            loading: false
        };
    },
    mounted() {
        this.fetchHighlightTypes()
    },
    methods: {
        fetchHighlightTypes() {
            axios.get('/api/highlightsTypes')
                .then(response => {
                    this.types = response.data
                })
                .catch(error => {
                    console.log(error)
                })
        },
        async storeHighlight() {
            this.loading = true
            try {
                this.highlight.type_id = this.selectedType
                const response = await axios.post(route('highlights.store'), this.highlight)
                window.location.href = '/highlights'
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
