<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Editar Destaque" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar destaque</h3>
        </template>
        <div class="form-wrap edit-highlight small-form" id="content">
            <Loader v-if="loading" />
            <notification v-if="showNotification" :message="notificationMessage" :type="notificationType"
                @close="hideNotification"></notification>
            <div>
                <div>
                    <form @submit.prevent="updateHighlight" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome" />
                            <TextInput id="name" ref="name" v-model="highlight.name" type="text" class=""
                                placeholder="Nome do destaque" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="type_id" value="Tipo" />
                            <select name="type_id" id="type_id" v-model="selectedType" class="select">
                                <option v-for="type_h in types" :value="type_h.id">{{ type_h.name }}</option>
                            </select>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="link" value="Link" />
                            <TextInput id="name" ref="name" v-model="highlight.link" type="text" class=""
                                placeholder="Link do destaque" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="priority" value="Prioridade" />
                            <TextInput id="priority" ref="priority" v-model="highlight.priority" type="text" class=""
                                placeholder="Prioridade do destaque" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="status" value="Status" />
                            <select name="status" id="status" v-model="highlight.status" class="select">
                                <option :value="0">Desativado</option>
                                <option :value="1">Ativo</option>
                            </select>
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
const events = ['dragenter', 'dragover', 'dragleave', 'drop']

function preventDefaults(e) {
    e.preventDefault()
}

export default {
    props: {
        highlight: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            types: [],
            selectedType: this.highlight.type_id,
            showNotification: false
        };
    },
    mounted() {
        this.fetchHighlightTypes()
    },
    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = '';
            this.notificationType = '';
        },
        fetchHighlightTypes() {
            axios.get('/api/highlightsTypes')
                .then(response => {
                    this.types = response.data
                })
                .catch(error => {
                    console.log(error)
                })
        },
        async updateHighlight() {
            this.loading = true
            try {
                delete this.highlight.type
                this.highlight.type_id = this.selectedType
                await axios.put(route('highlights.update', this.highlight.id), this.highlight)
                this.showNotification = true
                this.notificationMessage = 'Conteúdo salvo'
                this.notificationType = 'success'
            } catch (e) {
                console.log(e)
                this.showNotification = true
                this.notificationMessage = 'Erro ao salvar'
                this.notificationType = 'error'
            } finally {
                this.loading = false
            }

        },
    }
}
</script>
