<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de destaques" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de destaques</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateHighlight">Criar
                                novo
                                destaque</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Tipo</th>
                                    <th>Prioridade</th>
                                    <th>Status</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="highlight in highlights">
                                    <td data-label="ID">
                                        <p>{{ highlight.id }}</p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ highlight.name }}</p>
                                    </td>
                                    <td data-label="Tipo">
                                        <p>{{ highlight.type.name }}</p>
                                    </td>
                                    <td data-label="Tipo">
                                        <p>{{ highlight.priority }}</p>
                                    </td>
                                    <td data-label="Tipo">
                                        <p>{{ highlight.status ? 'Ativo' : 'Desativado' }}</p>
                                    </td>
                                    <td data-label="">
                                        <p><a :href="'/highlights/' + highlight.id + '/edit'"
                                                class="table-btn edit"></a></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchHighlights(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchHighlights(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchHighlights(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchHighlights(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchHighlights(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            highlights: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchHighlights(1, newTerm)
        }
    },
    mounted() {
        this.fetchHighlights(this.page, '')
    },
    methods: {
        redirectToCreateHighlight: function () {
            window.location.href = "/highlights/create"
        },
        fetchHighlights(page, search) {
            this.loading = true
            axios.get("/api/highlights")
                .then(response => {
                    this.loading = false
                    this.highlights = response.data.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                })
                .catch(error => {
                    console.log(error)
                });
            this.loading = true
        }
    }
}
</script>