<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";
import { Head } from "@inertiajs/vue3";
import axios from "axios";
import VueMultiselect from "vue-multiselect";
import Loader from "@/Components/Loader.vue";
</script>

<template>
    <Head title="Criar Anúncio" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Criar anúncio</h3>
        </template>
        <div class="form-wrap create-ad small-form" id="content">
            <Loader v-if="loading" />
            <form @submit.prevent="createAd" class="form">
                <div class="input-wrap">
                    <InputLabel for="name" value="Nome do anúncio" />
                    <TextInput
                        id="name"
                        ref="name"
                        v-model="ad.name"
                        type="text"
                        class=""
                        placeholder="Adicione um nome para o anúncio"
                    />
                </div>
                <div class="input-wrap">
                    <InputLabel for="url" value="Url" />
                    <TextInput
                        id="url"
                        v-model="ad.url"
                        type="text"
                        class="input-text"
                        placeholder="Url do anúncio"
                    />
                </div>
                <div class="input-wrap">
                    <InputLabel for="status" value="Status" />
                    <VueMultiselect
                        v-model="selectedStatus"
                        :options="optionsStatus"
                        name="status"
                        id="status"
                        class="single-select"
                        :close-on-select="true"
                        :allow-empty="false"
                        placeholder="Selecione o status do anúncio"
                        label="name"
                        track-by="name"
                    />
                </div>
                <div class="input-wrap">
                    <InputLabel for="Categorias" value="Categorias" />
                    <VueMultiselect
                        v-model="selectedCategories"
                        :options="categories"
                        :multiple="true"
                        :close-on-select="true"
                        placeholder="Selecione as categorias do anúncio"
                        label="name"
                        hideSelected
                        track-by="name"
                    />
                </div>
                <div class="input-wrap">
                    <InputLabel
                        for="image_asset_desktop"
                        value="Imagem desktop"
                    />
                    <PrimaryButton
                        v-if="ad.image_asset_desktop"
                        @click.stop.prevent="removeImage('desktop')"
                        class="remove-img-btn"
                        >Remover Imagem</PrimaryButton
                    >
                    <div class="img-input-wrap">
                        <div class="upload-label">
                            <img src="/images/img-upload.svg" alt="" />
                            <p>Clique aqui para adicionar uma imagem.</p>
                        </div>
                        <input
                            type="file"
                            @change="handleImageUpload($event, 'desktop')"
                        />
                        <img
                            v-if="ad.image_asset_desktop"
                            :src="ad.image_asset_desktop"
                            alt="Imagem do Anúncio"
                            class="img-upload"
                        />
                    </div>
                </div>
                <div class="input-wrap">
                    <InputLabel
                        for="image_asset_mobile"
                        value="Imagem mobile"
                    />
                    <PrimaryButton
                        v-if="ad.image_asset_mobile"
                        @click.stop.prevent="removeImage('mobile')"
                        class="remove-img-btn"
                        >Remover Imagem</PrimaryButton
                    >
                    <div class="img-input-wrap">
                        <div class="upload-label">
                            <img src="/images/img-upload.svg" alt="" />
                            <p>Clique aqui para adicionar uma imagem.</p>
                        </div>
                        <input
                            type="file"
                            @change="handleImageUpload($event, 'mobile')"
                        />
                        <img
                            v-if="ad.image_asset_mobile"
                            :src="ad.image_asset_mobile"
                            alt="Imagem do Anúncio"
                            class="img-upload"
                        />
                    </div>
                </div>
                <div class="btn-wrap">
                    <PrimaryButton :disabled="loading">{{
                        loading ? "Salvando..." : "Salvar"
                    }}</PrimaryButton>
                </div>
            </form>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    components: { VueMultiselect },
    data() {
        return {
            ad: new Object(),
            categories: [],
            selectedCategories: this.ad?.categories
                ? this.ad.categories.map((x) => x.id)
                : [],
            genres: [],
            locations: [],
            eventTypes: [],
            selectedStatus: [],
            optionsStatus: [
                { name: "Desativado", id: 0 },
                { name: "Ativo", id: 1 },
            ],
            loading: false,
        };
    },
    mounted() {
        this.fetchCategories();
    },
    methods: {
        async fetchCategories() {
            try {
                this.loading = true;
                const response = await axios.get("/api/adsCategories");
                this.categories = response.data;
            } catch (e) {
                console.log(e);
            } finally {
                this.loading = false;
            }
        },
        removeImage(assetType) {
            if (assetType === "desktop") {
                this.ad.image_asset_desktop = null;
            } else if (assetType === "mobile") {
                this.ad.image_asset_mobile = null;
            }
        },
        async createAd() {
            try {
                this.loading = true;
                this.ad.categories = this.selectedCategories.map((x) => x.id);
                this.ad.status = this.selectedStatus.id;
                await axios.post(route("ads2.store"), this.ad);
                window.location.href = "/ads2";
            } catch (e) {
                console.log(e);
                this.loading = false;
                alert("Erro ao criar o anúncio");
            } finally {
            }
        },
        async handleImageUpload(event, assetType) {
            const file = event.target.files[0];
            const formData = new FormData();
            formData.append("image", file);
            formData.append("filePath", "ads");
            try {
                this.loading = true;
                const response = await axios.post("/upload-image", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                });
                if (assetType === "mobile") {
                    this.ad.image_asset_mobile = response.data;
                } else {
                    this.ad.image_asset_desktop = response.data;
                }
            } catch (error) {
                this.loading = false;
                console.error(error);
                alert(
                    "Conteúdo salvo, mas com problema na imagem. Retorne para listagem e edite o conteúdo novamente."
                );
                window.location.replace("/ads2");
            } finally {
                this.loading = false;
            }
        },
    },
};
</script>
