<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Pagination from '@/Components/Pagination.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { watch } from "vue";
import { ref } from "vue";
</script>

<template>

    <Head title="Lista de anúncios" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Anúncios</h3>
        </template>
        <div class="main-content">
            <div class="table-wrap">
                <div class="list-header">
                    <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateAd">Criar novo
                            anúncio</button></div>
                    <div class="search-input">
                        <InputLabel for="search"></InputLabel>
                        <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                    </div>
                </div>
                <div class="table-wrapper">
                    <table class="table">
                        <Loader v-if="loading" />
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Categorias</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="ad in ads">
                                <td data-label="ID">
                                    <p>{{ ad.id }}</p>
                                </td>
                                <td data-label="Nome">
                                    <p>{{ ad.name }}</p>
                                </td>
                                <td data-label="Categorias">
                                    <p>
                                    <div v-for="category in ad.categories">{{ category.name }} </div>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <template v-if="ad.status == 0">Inativo</template><template
                                            v-else>Ativo</template>
                                    </p>
                                </td>
                                <td data-label="">
                                    <p>
                                        <a :href="'/ads2/' + ad.id + '/edit'" class="table-btn edit"></a>
                                        <button class="table-btn delete" v-on:click="deleteAd(ad)"></button>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchAds(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchAds(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchAds(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchAds(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            ads: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchAds(1, newTerm)
        }
    },
    mounted() {
        this.fetchAds(this.page, '')
    },
    methods: {
        redirectToCreateAd: function () {
            window.location.href = "/ads2/create"
        },
        fetchAds(page, search) {
            this.loading = true
            axios.get("/api/ads?filterAdmin=1&page=" + page + "&name=" + search)
                .then(response => {
                    this.loading = false
                    this.ads = response.data.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                })
                .catch(error => {
                    console.log(error)
                });
        },
        async deleteAd(ad) {
            if (confirm('Deseja excluir o anúncio?')) {
                this.loading = true
                try {
                    await axios.delete(route('ads2.destroy', ad.id), ad)
                } catch (e) {
                    console.log(e)
                } finally {
                    this.fetchAds(1, '')
                    this.loading = false
                }
            }
        },
    }
}
</script>