<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'
import Editor from '@tinymce/tinymce-vue'
</script>

<template>
    <Head title="Editar gênero musical" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar gênero musical</h3>
        </template>

        <div class="form-wrap edit-genre small-form" id="content">
            <Loader v-if="loading" />
            <div>
                <div >
                    <form @submit.prevent="update" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome" />
                            <TextInput id="name" ref="name" v-model="genre.name" type="text" class="" placeholder="Nome do gênero"/>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="name" value="Descrição" />
                            <TextInput id="name" ref="name" v-model="genre.description" type="text" class="" placeholder="Adicione uma descrição"/>
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{loading ? "Salvando...": "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    props: {
        genre: { type: Object, required: true },   

    },
    components: { Editor },
    data() {
        return {
            genre : this.genre,
        };
    },
    methods: {
        async update() {
            this.loading = true
            try {
               await axios.put(route('genres.update', this.genre.id), this.genre)
               window.location.href= '/genres'
            } catch(e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
