<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
</script>

<template>

    <Head title="Lista de generos" />
    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de Gêneros</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateGenre">Criar novo
                                gênero</button></div>
                        <div class="search-input">
                            <InputLabel for="search"></InputLabel>
                            <TextInput v-model="searchTerm" placeholder="Filtrar por nome..." />
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="genre in genres">
                                    <td data-label="ID">
                                        <p>{{ genre.id }}</p>
                                    </td>
                                    <td data-label="Nome">
                                        <p>{{ genre.name }}</p>
                                    </td>
                                    <td data-label="">
                                        <p><a :href="'/genres/' + genre.id + '/edit'" class="table-btn edit">Editar</a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <template #pagination>
            <div class="pagination">
                <button v-if="currentPage > 1" @click="fetchGenres(currentPage - 1, searchTerm)"
                    class="pagination-btn previous-btn"></button>
                <template v-if="currentPage > 3">
                    <button @click="fetchGenres(1, searchTerm)" class="pagination-btn">1</button>
                    <span class="pagination-ellipsis">...</span>
                </template>
                <template v-for="index in Math.min(currentPage + 2, lastPage)">
                    <template v-if="index >= currentPage - 2 && index <= currentPage + 2">
                        <button @click="fetchGenres(index, searchTerm)" class="pagination-btn"
                            :class="{ 'current': currentPage == index }">{{ index }}</button>
                    </template>
                </template>
                <template v-if="currentPage < lastPage - 2">
                    <span class="pagination-ellipsis">...</span>
                    <button @click="fetchGenres(lastPage, searchTerm)">{{ lastPage }}</button>
                </template>
                <button v-if="currentPage < lastPage" @click="fetchGenres(currentPage + 1, searchTerm)"
                    class="pagination-btn next-btn"></button>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return {
            genres: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            searchTerm: '',
            loading: false
        }

    },
    watch: {
        searchTerm(newTerm, oldTerm) {
            this.fetchGenres(1, newTerm)
        }
    },
    mounted() {
        this.fetchGenres(this.currentPage, '')
    },
    methods: {
        redirectToCreateGenre: function () {
            window.location.href = "/genres/create"
        },
        async fetchGenres(page, search) {
            this.loading = true
            try {
                const response = await axios.get("/api/genres?page=" + page + "&name=" + search)
                this.genres = response.data.data
                this.pagination = response.data.links
                this.currentPage = response.data.current_page;
                this.lastPage = response.data.last_page;
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        }
    }
}
</script>