<script setup>
import { ref } from 'vue';
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';
import NavLink from '@/Components/NavLink.vue';
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import { Link } from '@inertiajs/vue3';
import { menuItemsForId1, menuItemsForId2, menuItemsForId3, menuItemsForId4, menuItemsForDefault } from '../../utils/menuByRole';
import { usePage } from '@inertiajs/vue3';
const page = usePage();

const showingNavigationDropdown = ref(false);

const menuItems = () => {
  switch(page.props.auth.user.role_id){
    case 1:
      return menuItemsForId1
      break
    case 2:
      return menuItemsForId2
    case 3:
      return menuItemsForId3
    case 4:
      return menuItemsForId4
    default:
      return menuItemsForDefault
    }
}

const data = () => ({
  isMenuOpen: false
});

const methods = {
  toggleMenu() {
    this.isMenuOpen = !this.isMenuOpen;
  }
};

</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<template>
    <!-- <div> -->
    <div class="dash-wrap min-h-screen">
        <nav class="">
            <!-- Primary Navigation Menu -->
            <div class="header">
                <div class="header-flex flex justify-between">
                    <button class="toggle-menu" :class="{ open: isMenuOpen }" @click="toggleMenu">
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                    <!-- Logo -->
                    <div class="logo-div dash">
                        <div class="logo-img">
                            <img src="../../images/logo.png" alt="">
                        </div>
                        <p>Admin</p>
                    </div>
                    <div class="user-menu">
                        <!-- Settings Dropdown -->
                        <div class="relative">
                            <Dropdown align="right" width="48">
                                <template #trigger>
                                    <span class="inline-flex">
                                        <button type="button"
                                            class="user-btn dropdown-btn">
                                            Olá, {{ $page.props.auth.user.name }}
                                            <svg class="" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </span>
                                </template>

                                <template #content>
                                    <DropdownLink :href="route('profile.edit')"> Conta </DropdownLink>
                                    <DropdownLink :href="route('logout')" method="post" as="button">
                                        Sair
                                    </DropdownLink>
                                </template>
                            </Dropdown>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Responsive Navigation Menu -->
            <div :class="{ block: showingNavigationDropdown, hidden: !showingNavigationDropdown }" class="sm:hidden">
                <div class="pt-2 pb-3 space-y-1">
                    <ResponsiveNavLink :href="route('dashboard')" :active="route().current('dashboard')">
                        Dashboard
                    </ResponsiveNavLink>
                </div>

                <!-- Responsive Settings Options -->
                <div class="pt-4 pb-1">
                    <div class="px-4">
                        <div class="text-base">
                            {{ $page.props.auth.user.name }}
                        </div>
                        <div class="">{{ $page.props.auth.user.email }}</div>
                    </div>

                    <div class="mt-3 space-y-1">
                        <ResponsiveNavLink :href="route('profile.edit')"> Profile </ResponsiveNavLink>
                        <ResponsiveNavLink :href="route('logout')" method="post" as="button">
                            Log Out
                        </ResponsiveNavLink>
                    </div>
                </div>
            </div>
        </nav>

        <div class="dash-child flex">
            <div class="side-menu" :class="{ open: isMenuOpen }">
              <div class="floated-menu">
                <div v-for="menuItem in menuItems()" :key="menuItem.title" class="dropdown-wrapper">
                  <Dropdown align="left" width="48">
                    <template #trigger>
                      <button type="button" class="side-menu-item">
                        <div class="menu-item-icon"><img :src="menuItem.icon" alt=""></div>
                      {{ menuItem.title }}
                      </button>
                    </template>
                    <template #content>
                      <DropdownLink v-for="subItem in menuItem.subItems" :key="subItem.title" :href="route(subItem.route)">
                        {{ subItem.title }}
                      </DropdownLink>
                    </template>
                  </Dropdown>
                </div>
              </div>
            </div>
            
            <div class="dash-content">
                <!-- Page Heading -->
                <header class="" v-if="$slots.header">
                    <div class="">
                        <slot name="header" />
                    </div>
                </header>

                <!-- Page Content -->
                <main>
                    <slot />
                </main>

                <!-- Pagination -->
                <div v-if="$slots.pagination">
                    <slot name="pagination" />
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</template>
<script>
export default {
  data() {
    return {
      isMenuOpen: false
    };
  },
  methods: {
    toggleMenu() {
      this.isMenuOpen = !this.isMenuOpen;
    }
  }
};
</script>