<script setup>
import Checkbox from '@/Components/Checkbox.vue';
import GuestLayout from '@/Layouts/GuestLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, Link, useForm } from '@inertiajs/vue3';

defineProps({
    canResetPassword: {
        type: Boolean,
    },
    status: {
        type: String,
    },
});

const form = useForm({
    email: '',
    password: '',
    remember: false,
});

const submit = () => {
    form.post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <GuestLayout class="login-page">
        <Head title="Log in" />

        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
        </div>

        <form @submit.prevent="submit">
            <div class="input-wrap">
                <InputLabel for="email" value="E-mail" />

                <TextInput
                    id="email"
                    type="email"
                    class="w-full"
                    placeholder="Digite aqui"
                    v-model="form.email"
                    required
                    autofocus
                    autocomplete="username"
                />

                <InputError class="mt-2" :message="form.errors.email" />
            </div>

            <div class="input-wrap">
                <InputLabel for="password" value="Senha" />

                <TextInput
                    id="password"
                    type="password"
                    class="w-full"
                    placeholder="Digite aqui"
                    v-model="form.password"
                    required
                    autocomplete="current-password"
                />

                <InputError class="mt-2" :message="form.errors.password" />
            </div>

            <div class="checkbox-wrap">
                <label class="">
                    <Checkbox name="remember" v-model:checked="form.remember" />
                    <span class="">Me manter conectado</span>
                </label>
            </div>

            <div class="link-wrap">
                <Link
                    v-if="canResetPassword"
                    :href="route('password.request')"
                    class="main-link underline"
                >
                    Esqueci minha Senha
                </Link>
            </div>

            <PrimaryButton class="max-btn" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Entrar
            </PrimaryButton>
        </form>
    </GuestLayout>
</template>
