<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Criar tipo de destaque" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Cadastrar estado</h3>
        </template>

        <div class="form-wrap edit-highlight-type small-form" id="content">
            <Loader v-if="loading" />
            <notification v-if="showNotification" :message="notificationMessage" :type="notificationType"
                @close="hideNotification"></notification>
            <div>
                <div>
                    <form @submit.prevent="storeState" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome do estado" />
                            <TextInput id="name" ref="name" v-model="state.name" type="text" class=""
                                placeholder="Adicione o nome do estado" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="name" value="Código do estado" />
                            <TextInput id="name" ref="name" v-model="state.abbr" type="text" class=""
                                placeholder="Adicione o nome do estado" />
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="icon" value="País" />
                            <VueMultiselect v-model="selectedCountry" :options="countriesList" name="country" id="country"
                                class="single-select" :close-on-select="true" :allow-empty="true"
                                placeholder="Adicione o país do estado" label="name" track-by="name" 
                                />
                        </div>
                        
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    components: { VueMultiselect },
    data() {
        return {
            state: new Object(),
            countries: [],
            selectedCountry: [],
            countriesList: [],
            loading: false,
            showNotification: false
        };
    },
    mounted() {
        this.getCountries()
    },  
    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = '';
            this.notificationType = '';
        },
        async getCountries() {
            try {
                const response = await axios.get("/api/countries")
                
                this.countries = response.data
                let tempCountriesList = response.data
                tempCountriesList.forEach(country => {
                    country.name = `${country.country_name}`;
                });
                this.countriesList = tempCountriesList
                
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
        async storeState() {
            this.loading = true
            try {
                this.state.country_id = this.selectedCountry.id
                await axios.post(route('states.store'), this.state)
                window.location.href = '/states'
            } catch (e) {
                this.loading = false
                this.showNotification = true
                this.notificationMessage = e.response.data.message
                this.notificationType = 'error'
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
