<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import VueMultiselect from 'vue-multiselect';
import Loader from '@/Components/Loader.vue';
import { Head } from '@inertiajs/vue3';
import axios from 'axios'

</script>

<template>

    <Head title="Editar estado" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Editar estado</h3>
        </template>

        <div class="form-wrap edit-highlight-type small-form" id="content">
            <Loader v-if="loading" />
            <notification v-if="showNotification" :message="notificationMessage" :type="notificationType"
                @close="hideNotification"></notification>
            <div>
                <div>
                    <form @submit.prevent="updateState" class="form">
                        <div class="input-wrap">
                            <InputLabel for="name" value="Nome do estado" />
                            <TextInput id="name" ref="name" v-model="state.name" type="text" class=""
                                placeholder="Adicione o nome do estado" required/>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="abbr" value="Código do estado" />
                            <TextInput id="abbr" ref="icon" v-model="state.abbr" type="text" class=""
                                placeholder="Adicione o código do estado" required/>
                        </div>
                        <div class="input-wrap">
                            <InputLabel for="País" value="País" />
                            <VueMultiselect v-model="selectedCountry" :options="countriesList" name="country" id="country"
                                class="single-select" :close-on-select="true" :allow-empty="true"
                                placeholder="Adicione o país do estado" label="name" track-by="name" 
                                />
                        </div>
                        <div class="btn-wrap">
                            <PrimaryButton :disabled="loading">{{ loading ? "Salvando..." : "Salvar" }}</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    components: { VueMultiselect },
    props: {
        state: {
            type: Object,
            required: true
        },
        countriesList: {
            type: Array
        }
    },
    data() {
        return {
            types: [],
            // selectedType: this.highlight.type_id,
            loading: false,
            // countriesList: [],
            selectedCountry: this.countriesList.filter(x => x.id === this.state.country_id)
        };
    },
    mounted() {
        this.countriesList.forEach(country => {
            country.name = country.country_name
        })
    },  
    methods: {
        hideNotification() {
            this.showNotification = false;
            this.notificationMessage = '';
            this.notificationType = '';
        },
        async updateState() {
            this.loading = true
            try {
                this.state.country_id = this.selectedCountry.id ? this.selectedCountry.id : this.selectedCountry[0].id
                await axios.put(route('states.update', this.state.id), this.state)
                window.location.href = '/states'
            } catch (e) {
                console.log(e)
                this.showNotification = true
                this.notificationMessage = e.response.data.message
                this.notificationType = 'error'
            } finally {
                this.loading = false
            }
        },
    }
}
</script>
