<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import Loader from '@/Components/Loader.vue';
</script>

<template>


    <Head title="Lista de estados" />

    <AuthenticatedLayout>
        <template #header>
            <h3 class="">Lista de estados</h3>
        </template>

        <div class="main-content">
            <div class="table-wrap">
                <div>
                    <div class="list-header">
                        <div class="button-wrap"><button class="main-btn" v-on:click="redirectToCreateState">Criar novo estado</button></div>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                            <Loader v-if="loading" />
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>País</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody class=" ">
                                <tr v-for="state in states" >
                                    <td data-label="ID"><p>{{ state.id }}</p></td>
                                    <td data-label="Nome"><p>{{ state.name }}</p></td>
                                    <td data-label="Ícone"><p>{{ state.country.country_name }}</p></td>
                                    <td data-label="Ação">
                                        <p>
                                            <a :href="'/states/' + state.id + '/edit'" class="table-btn edit"></a>
                                            <button v-if="state.cities.length < 1" class="table-btn delete" v-on:click="deleteState(state)"></button>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>

                    </div>
                    <div class="pagination">
                        <button v-for="index in lastPage" :key="index" @click="fetchStates(index, searchTerm)" class="pagination-btn" :class="{ 'current': currentPage == index }">
                            {{ index }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
<script>
export default {
    data() {
        return{
            states: [],
            pagination: [],
            currentPage: 1,
            lastPage: 1,
            loading: false
        }

    },
    mounted() {
        this.fetchStates(this.page, '')
    },
    methods: {
        redirectToCreateState: function() {
            window.location.href = "/states/create"
        },
        deleteState: function (state) {
            if (confirm('Deseja excluir o estado?')) {
                this.loading = true
                axios.delete(route('states.destroy', state.id), state)
                    .then(response => {
                        this.fetchStates(this.page, '')
                    })
                    .catch(error => {
                        console.log(error)
                    })

                this.loading = false
            }

        },
        fetchStates(page, search) {
            this.loading = true
            axios.get("/api/states")
                .then(response => {
                    this.loading = false
                    this.states = response.data
                    this.pagination = response.data.links
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                })
                .catch(error => {
                    console.log(error)
                });
            this.loading = true
        }
    }
}
</script>
